$hard_pink: #990066
$cu_green: #83b93a
*
	padding: 0
	margin: 0
	font-family: 'Roboto', sans-serif
	

a
	text-decoration: none
	cursor: pointer

=transition($align)
	-webkit-transition: $align
	-o-transition: $align
	-ms-transition: $align
	-moz-transition: $align
	transition: $align

=flex() 
  display: -webkit-flex
  display: -o-flex
  display: -ms-flex
  display: -moz-flex
  display: flex


=align-items($align) 
  -webkit-align-items: $align
  -o-align-items: $align
  -ms-align-items: $align
  -moz-align-items: $align
  align-items: $align

=justify-content($align) 
  -webkit-justify-content: $align
  -o-justify-content: $align
  -ms-justify-content: $align
  -moz-justify-content: $align
  justify-content: $align

=flex-direction($align) 
  -webkit-flex-direction: $align
  -o-flex-direction: $align
  -ms-flex-direction: $align
  -moz-flex-direction: $align
  flex-direction: $align

=border-radius($align) 
  -webkit-border-radius: $align
  -o-border-radius: $align
  -ms-border-radius: $align
  -moz-border-radius: $align
  border-radius: $align

header
	z-index: 10
	position: fixed
	width: 100%
	height: 180px
	+flex()
	+justify-content(space-around)
	+align-items(center)
	+flex-direction(column)
	nav
		+flex()
		+align-items(center)
		width: 90%
	.secondNav
		ul, ol
			list-style: none
		div > ul >li 
			float: left
		li ul 
			display: none
			position: absolute
			min-width: 600px
		li:hover > ul
			display: block
			padding-top: 40px
			a
				border-right: none
		div
			border-bottom: 2px solid white
			padding: 0px 8px 15px 0px
			a
				display: block
				padding: 5px 10px 5px 10px
				border-right: 2px solid white
				color: white
				+transition(400ms ease)
				font-size: 14px
			a.final
				border-right: none
			a:hover
				font-weight: bold
				color: $cu_green
				text-decoration: underline $cu_green
	.firstNav
		+justify-content(space-between)
		div
			margin: 10px
			a
				.logo
					width: 320px
		.firstContainer
			+flex()
			+flex-direction(row)
		.pinContainer
			+flex()
			+justify-content(center)
			+align-items(center)
			+flex-direction(row)
			div 
				height: 36px
				a
					width: 36px
					height: 36px
					.pin
						width: 36px
						+transition(400ms ease)
					.pin:hover
						width: 40px

.btn-green
	color: white
	background: $cu_green
	padding: 5px 10px 5px 10px
	font-weight: bold
	font-size: 20px
	+border-radius(10px)
	+transition(400ms ease)
.btn-green:hover
	background: white
	color: $cu_green

.content
	background: $hard_pink
	position: absolute
	height: 100%
	width: 100%
	z-index: 1
