@font-face {
  font-family: 'Avenir Next Condenced';
  src: url(..resources/avenir.ttf); }

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Avenir Next Condenced', sans-serif; }

a {
  cursor: pointer; }

#firstView {
  height: 100%;
  width: 100%;
  z-index: 2;
  position: fixed;
  background-image: url("../resources/1080x1920.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.margin {
  position: absolute;
  height: 50px;
  width: 50px;
  bottom: -50px; }

#secondView {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #83B93A;
  z-index: -1; }

.firstNav {
  padding-top: 70px;
  width: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-flex-direction: row;
  -o-flex-direction: row;
  -ms-flex-direction: row;
  -moz-flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -o-justify-content: space-between;
  -ms-justify-content: space-between;
  -moz-justify-content: space-between; }
  .firstNav .nav-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-flex-direction: row;
    -o-flex-direction: row;
    -ms-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    -o-justify-content: space-around;
    -ms-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-align-self: flex-start;
    -o-align-self: flex-start;
    -ms-align-self: flex-start;
    -moz-align-self: flex-start;
    margin-left: 40px;
    padding-right: 35px; }
    .firstNav .nav-left .logo {
      margin-left: 10px;
      width: 80%;
      height: 100%; }
  .firstNav .nav-right {
    margin-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    aling-items: flex-end;
    -webkit-aling-items: flex-end;
    -o-aling-items: flex-end;
    -ms-aling-items: flex-end;
    -moz-aling-items: flex-end; }
    .firstNav .nav-right .nav-social {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      display: -webkit-flex;
      display: -o-flex;
      display: -ms-flex;
      display: -moz-flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-direction: row;
      -webkit-flex-direction: row;
      -o-flex-direction: row;
      -ms-flex-direction: row;
      -moz-flex-direction: row; }
      .firstNav .nav-right .nav-social img {
        padding: 15px 5px;
        width: 50px;
        height: 50px; }
    .firstNav .nav-right > .green-button {
      -ms-flex-item-align: end;
      align-self: flex-end;
      -webkit-align-self: flex-end;
      -o-align-self: flex-end;
      -ms-align-self: flex-end;
      -moz-align-self: flex-end; }

.burger {
  background-image: url("../resources/burger.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-align-self: center;
  -o-align-self: center;
  -ms-align-self: center;
  -moz-align-self: center;
  width: 60px;
  height: 50px; }

.burger:hover {
  background-image: url("../resources/burger2.png"); }

.green-button {
  width: 190px;
  height: 30px;
  padding: 10px 5px;
  text-align: center;
  background-color: #83B93A;
  font-weight: bold;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -moz-border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  -moz-justify-content: center; }
  .green-button > div {
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-align-self: center;
    -o-align-self: center;
    -ms-align-self: center;
    -moz-align-self: center;
    font-size: 25px; }
  .green-button a {
    text-decoration: none;
    color: white; }

.index-play {
  height: 150px;
  width: 150px;
  background-color: #003056;
  bottom: 250px;
  margin-left: 100px;
  position: fixed;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -o-border-radius: 100%;
  -ms-border-radius: 100%;
  -moz-border-radius: 100%;
  opacity: 0.9;
  hover-opacity: 1.0; }
  .index-play .play {
    padding: 35% 40%;
    width: 27%;
    height: 32%;
    vertical-align: middle;
    -webkit-vertical-align: middle;
    -o-vertical-align: middle;
    -ms-vertical-align: middle;
    -moz-vertical-align: middle; }

.d1997 {
  width: 100%;
  position: fixed;
  bottom: 180px;
  color: white;
  text-align: center;
  font-size: 30px; }

.secondNav {
  top: 300px;
  z-index: 10;
  width: 50%;
  position: fixed;
  right: 100%;
  font-size: 30px;
  height: calc(100% - 300px); }
  .secondNav ul {
    list-style: none; }
    .secondNav ul li {
      display: block;
      border-bottom: 1px solid white;
      position: relative; }
      .secondNav ul li a {
        display: block;
        color: white;
        text-decoration: none;
        padding: 20px 0px 10px 0px; }
    .secondNav ul .children {
      font-size: 20px;
      width: 100%;
      display: none;
      position: relative;
      z-index: 1000; }
      .secondNav ul .children a {
        padding: 5px 10px !important; }
    .secondNav ul li:hover .children {
      border: none;
      display: block; }
      .secondNav ul li:hover .children li {
        display: block;
        border: none; }
        .secondNav ul li:hover .children li a {
          margin-left: 20px;
          border-bottom: none;
          display: block;
          color: white; }
        .secondNav ul li:hover .children li a:hover {
          color: #83B93A; }
    .secondNav ul li:hover a {
      border-bottom: 1px solid #83B93A;
      color: #83B93A; }

#secondView {
  height: 100%; }
  #secondView > .firstNavS {
    position: fixed;
    top: 0px !important;
    z-index: 3;
    width: 100%;
    height: 175px;
    background-color: #f2f2f2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-flex-direction: row;
    -o-flex-direction: row;
    -ms-flex-direction: row;
    -moz-flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -o-justify-content: space-between;
    -ms-justify-content: space-between;
    -moz-justify-content: space-between; }
    #secondView > .firstNavS .nav-leftS {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      display: -webkit-flex;
      display: -o-flex;
      display: -ms-flex;
      display: -moz-flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-direction: row;
      -webkit-flex-direction: row;
      -o-flex-direction: row;
      -ms-flex-direction: row;
      -moz-flex-direction: row; }
      #secondView > .firstNavS .nav-leftS > .burger {
        margin: 0px 30px 0px 40px; }
      #secondView > .firstNavS .nav-leftS > .burger:hover {
        background-image: url("../resources/burger.png"); }
      #secondView > .firstNavS .nav-leftS .logo {
        -ms-flex-item-align: center;
        align-self: center;
        -webkit-align-self: center;
        -o-align-self: center;
        -ms-align-self: center;
        -moz-align-self: center;
        width: 130px;
        height: 130px; }
    #secondView > .firstNavS .nav-rightS {
      -ms-flex-item-align: center;
      align-self: center;
      -webkit-align-self: center;
      -o-align-self: center;
      -ms-align-self: center;
      -moz-align-self: center; }
      #secondView > .firstNavS .nav-rightS > .green-button {
        margin-right: 40px; }
  #secondView .boxes {
    margin-top: 175px;
    width: 100%;
    height: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column; }
    #secondView .boxes .box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      display: -webkit-flex;
      display: -o-flex;
      display: -ms-flex;
      display: -moz-flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-direction: row;
      -webkit-flex-direction: row;
      -o-flex-direction: row;
      -ms-flex-direction: row;
      -moz-flex-direction: row;
      width: 100%;
      height: 100%;
      position: relative; }
      #secondView .boxes .box > img {
        position: absolute;
        width: 100%;
        height: 100%; }
      #secondView .boxes .box > p {
        position: absolute;
        font-size: 50px;
        color: white;
        bottom: 50px;
        margin-left: 50px; }
  #secondView > .nav-socialS {
    position: fixed;
    z-index: 2;
    top: 350px;
    right: 40px; }
    #secondView > .nav-socialS > div {
      height: 50px;
      width: 50px;
      margin-bottom: 20px; }
      #secondView > .nav-socialS > div > a img {
        height: 100%;
        width: 100%; }

.first-footer {
  position: fixed;
  background-color: #003056;
  z-index: 1;
  color: white;
  bottom: 0px;
  width: 300px;
  height: 50px;
  left: 35%;
  opacity: .8;
  border-radius: 40px 40px 0px 0px;
  -webkit-border-radius: 40px 40px 0px 0px;
  -o-border-radius: 40px 40px 0px 0px;
  -ms-border-radius: 40px 40px 0px 0px;
  -moz-border-radius: 40px 40px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  -moz-justify-content: center; }
  .first-footer > div {
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-align-self: center;
    -o-align-self: center;
    -ms-align-self: center;
    -moz-align-self: center; }
    .first-footer > div p {
      font-size: 30px; }

.second-footer {
  display: none;
  position: fixed;
  background-color: #003056;
  z-index: 1;
  color: white;
  bottom: 0px;
  opacity: .8;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-flex-direction: column;
  -o-flex-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  height: 300px;
  font-size: 20px;
  right: 5%;
  border-radius: 40px 40px 40px 0px;
  -webkit-border-radius: 40px 40px 40px 0px;
  -o-border-radius: 40px 40px 40px 0px;
  -ms-border-radius: 40px 40px 40px 0px;
  -moz-border-radius: 40px 40px 40px 0px; }
  .second-footer > .foot {
    height: 100px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-flex-direction: row;
    -o-flex-direction: row;
    -ms-flex-direction: row;
    -moz-flex-direction: row; }
    .second-footer > .foot > img {
      height: 60px;
      margin: 20px; }
  .second-footer > .foot2 {
    margin: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-flex-direction: row;
    -o-flex-direction: row;
    -ms-flex-direction: row;
    -moz-flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -o-justify-content: space-between;
    -ms-justify-content: space-between;
    -moz-justify-content: space-between; }
    .second-footer > .foot2 > div {
      padding: 0px 10px; }
  .second-footer > .foot3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center; }
    .second-footer > .foot3 > img {
      width: 30px;
      height: 30px;
      padding: 0px 10px; }
  .second-footer > .foot4 {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-flex-direction: row;
    -o-flex-direction: row;
    -ms-flex-direction: row;
    -moz-flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    width: 100%;
    bottom: 0px; }
    .second-footer > .foot4 > div {
      border-radius: 20px 20px 0px 0px;
      -webkit-border-radius: 20px 20px 0px 0px;
      -o-border-radius: 20px 20px 0px 0px;
      -ms-border-radius: 20px 20px 0px 0px;
      -moz-border-radius: 20px 20px 0px 0px;
      background-color: #83B93A; }
      .second-footer > .foot4 > div > p {
        padding: 5px 40px; }
