*
	padding: 0px
	margin: 0px

$green: #83B93A
$blue: #003056

=flex() 
  display: flex
  display: -webkit-flex
  display: -o-flex
  display: -ms-flex
  display: -moz-flex


=align-items($align) 
  aling-items: $align
  -webkit-aling-items: $align
  -o-aling-items: $align
  -ms-aling-items: $align
  -moz-aling-items: $align

=justify-content($align) 
  justify-content: $align
  -webkit-justify-content: $align
  -o-justify-content: $align
  -ms-justify-content: $align
  -moz-justify-content: $align

=flex-direction($align) 
  flex-direction: $align
  -webkit-flex-direction: $align
  -o-flex-direction: $align
  -ms-flex-direction: $align
  -moz-flex-direction: $align

=align-self($align) 
  align-self: $align
  -webkit-align-self: $align
  -o-align-self: $align
  -ms-align-self: $align
  -moz-align-self: $align

=border-radius($align) 
  border-radius: $align
  -webkit-border-radius: $align
  -o-border-radius: $align
  -ms-border-radius: $align
  -moz-border-radius: $align

=vertical-align($align) 
  vertical-align: $align
  -webkit-vertical-align: $align
  -o-vertical-align: $align
  -ms-vertical-align: $align
  -moz-vertical-align: $align 

=transition($align)
	-webkit-transition: $align
	-o-transition: $align
	-ms-transition: $align
	-moz-transition: $align
	transition: $align    

.content
	video
		margin-left: -1800px
		position: absolute
		height: 2700px
		z-index: -1 

body
	background-color: $green

.firstNav
	padding-top: 70px
	width: 100%
	position: fixed
	+flex()
	+flex-direction(row)
	+justify-content(space-between)
	.nav-left
		+flex()
		+flex-direction(row)
		+justify-content(space-around)
		+align-self(flex-start)
		img
			margin-left: 30px
			width: 70%
			height: 100%
		.burger
			+align-self(center)
			width: 80px
			height: 50px
	.nav-right
		margin-right: 20px
		+flex
		+flex-direction(column)
		+justify-content(center)
		+align-items(flex-end)	
		.nav-social
			+flex
			+flex-direction(row)
			img
				padding: 30px 10px
				width: 85px
				height: 85px
		.green-button
			width: 300px
			height: 90px
			color: white
			font-size: 65px
			+justify-content(center)
			+align-self(flex-end)
			background-color: $green	
			+border-radius(10px)
			padding: 2px 8px
			text-decoration: none	

.index-play
	height: 250px
	width: 250px
	background-color: $blue
	bottom: 400px
	margin-left: 100px
	position: fixed
	+border-radius(100%)
	opacity: 0.6
	.play
		padding: 75px 90px
		width: 35%
		height: 40%
		+vertical-align(middle)
	:hover
		opacity: 1.0

.d1997
	height:
	width: 100%
	position: fixed
	bottom: 300px
	color: white
	text-align: center
	font-size: 35px
	
	
.secondNav
	top: 300px
	z-index: 100
	width: 50%
	position: fixed
	right: 100%
	font-size: 60px
	height: calc(100% - 300px)
	ul
		list-style: none
		li
			display: block
			border-bottom: 1px solid white
			position: relative
			a
				display: block
				color: white
				text-decoration: none
				padding: 20px		
		.children
			font-size: 40px
			width: 100%
			display: none
			position: relative
			z-index: 1000		
		li:hover
			.children
				border: none
				display: block		
				li
					display: block
					border: none
					a
						margin-left: 20px
						border-bottom: none
						display: block
						color: white
					a:hover
						color: $green	
			a
				border-bottom: 1px solid $green 
				color: $green 							




