<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title Universidad Cuauhtemoc
	link(rel="stylesheet", href="css/desktopStyles.css")
	link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
body
	header
		nav
			a(href="https://www.ucslp.edu.mx/")
				img(src="resources/culogo.png", alt="Universidad Cuauhtemoc").logo
			div
				a
					img(src="resources/facebook-pin.png", alt="Facebook")
				a
					img(src="resources/instragam-pin.png", alt="Instragram")
				a
					img(src="resources/youtube-pin.png", alt="Youtube")
				a
					img(src="twitter-pin.png", alt="Twitter")
				a
					img(src="uc-ping.png", alt="UC")
				a
					img(src="calendar-pin.png", alt="Calendario")
			a(href="").btn-green
				|Registrate