<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title Universidad Cuauhtemoc
	link(rel="stylesheet", href="css/desktopStyles.css")
	link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
body
	header.header-style1
		nav.flex-column.just-sa
			div.flex-row.just-sa.align-strh
				div.flex-row.just-sb.aling-ctr
					a.logo
						img(src="resources/culogo.png", alt="Universidad Cuauhtemoc")
					a.btn-social
						img(src="resources/facebook-pin.png", alt="Facebook")
					a.btn-social
						img(src="resources/twitter-pin.png", alt="Twitter")
					a.btn-social
						img(src="resources/instagram-pin.png", alt="Instagram")
					a.btn-social
						img(src="resources/youtube-pin.png", alt="Youtube")
					a.btn-social
						img(src="resources/uc-pin.png", alt="Universidad Cuauhtemoc")
					a.btn-social
						img(src="resources/calendar-pin.png", alt="Calendario")
				div
					a.btn-green
						|¡REGISTRATE!
			div
				table
					tr
						a
							|Nosotros
					tr
						a
							|Oferta Académica
					tr
						a
							|Integrate
					tr
						a
							|Prestigio UC
					
					tr
						a
							|Beneficios UC
					tr
						a
							|Internacional
					tr
						a
							|Visitanos
	
	section.home-video
		div