doctype html
html
	head
		link(rel="stylesheet" href="css/movilStyles.css")
	body
		nav
			div(class='nav-left')
				img(class='burger' src='resources/burger.png')
				img(src='resources/culogo.png')
			div(class='nav-right')
				a(class='green-button' href='')|¡Registrate!
				div(class='nav-social')
					a
						img(src='resources/facebook-pin.png')
					a
						img(src='resources/twitter-pin.png')
					a
						img(src='resources/instagram-pin.png')
					a
						img(src='resources/youtube-pin.png')
					a
						img(src='resources/uc-pin.png')
					a
						img(src='resources/calendar-pin.png')
		div(class='index-play')
			img(class='play' src='resources/Untitled-4.png')
		footer
			p
				|DESDE 1977 FORMANDO PROFESIONISTAS CON ALTO DESEMPEÑO ACADÉMICO	



