<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title Universidad Cuauhtemoc
body
	header
		nav.flex-column
			div.flex-row
				div
					a
						img(src="resources/culogo.png", alt="Universidad Cuauhtemoc")
					a
						|facebook
					a
						|twitter
					a
						|instagram
					a
						|youtube
					a
						|UC
					a
						|calendario 
				div
					a.btn-green
						|¡REGISTRATE!
			div
				table
					tr
						a
							|Nosotros
					tr
						a
							|Oferta Académica
					tr
						a
							|Integrate
					tr
						a
							|Prestigio UC
					
					tr
						a
							|Beneficios UC
					tr
						a
							|Internacional
					tr
						a
							|Visitanos
	
		