<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Universidad Cuauhtemoc
	link(rel="stylesheet", href="css/desktopStylesNosotros.css")
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,900" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
body
	header#mainHeader
		nav.firstNav
			div.firstContainer
				div
					a(href="")
						img(src="resources/culogo.png", alt="Universidad Cuauhtemoc").logo
				div(style="margin-left:24px").pinContainer
					div
						a(href="https://www.facebook.com/ucslp/")
							img(src="resources/facebook-pin.png", alt="Facebook").pin
					div
						a(href="https://www.instagram.com/guerreros_ucslp/")
							img(src="resources/instagram-pin.png", alt="Instagram").pin
					div
						a(href="https://www.youtube.com/user/UCUAUHTEMOCSLP")
							img(src="resources/youtube-pin.png", alt="Youtube").pin
					div
						a(href="https://twitter.com/CuauhtemocSLP?lang=es")
							img(src="resources/twitter-pin.png", alt="Twitter").pin
					div
						a(href="http://servicios.ucslp.edu.mx/")
							img(src="resources/uc-pin.png", alt="UC").pin
					div
						a(href="https://www.ucslp.edu.mx/descargas/calendario/ucslp_calendario.pdf")
							img(src="resources/calendar-pin.png", alt="Calendario").pin
			div
				a(href="#").btn-green
					|¡Registrate!
		nav.secondNav
			div
				ul.headerMain
					li(style="margin-left:0; padding-left:0;")
						a(href="nosotros.html" style="margin-left:0; padding-left:0;")|Nosotros
						ul.headerMain
							li
								a(href="#mision")|Misión, Visión, Valores
							li
								a(href="#filosofia")|Filosofía
							li
								a(href="#directorio")|Directorio
					li
						a(href="https://www.ucslp.edu.mx/oferta")|Oferta Académica
						ul.listHorizontal.headerMain
							li
								a(href="#").head.greenHead|Nivel Medio Superior
									a(href="/prepauc.html")|Prepa UC
							li
								a(href="#").head.greenHead|Nivel Superior
								
								a(href="#").greenHead|Salud
									div.greenHeadContainer
										a(href="https://www.ucslp.edu.mx/licenciaturas/carreras/fisioterapia")|Fisioterapia
										a(href="https://www.ucslp.edu.mx/licenciaturas/carreras/odontologia")|Odontología
										a(href="https://www.ucslp.edu.mx/licenciaturas/carreras/medico-cirujano")|Médico Cirujano
										a(href="https://www.ucslp.edu.mx/licenciaturas/carreras/psicologia-clinica")|Psicología Clínica
										a(href="https://www.ucslp.edu.mx/licenciaturas/carreras/nutricion-y-ciencias-de-los-alimentos")|Nutrición y Ciencias de los Alimentos													
								a(href="#").greenHead|Administrativas
									div.greenHeadContainer
										a(href="https://www.ucslp.edu.mx/licenciaturas/carreras/derecho")|Derecho
										a(href="https://www.ucslp.edu.mx/licenciaturas/carreras/turismo")|Turismo
										a(href="https://www.ucslp.edu.mx/licenciaturas/carreras/comercio-internacional")|Comercio Internacional
										a(href="https://www.ucslp.edu.mx/licenciaturas/carreras/administracion-de-empresas")|Administración de Empresas
								a(href="#").greenHead|Sociales
									div.greenHeadContainer
										a(href="https://www.ucslp.edu.mx/licenciaturas/carreras/pedagogia")|Pedagogía
										a(href="https://www.ucslp.edu.mx/licenciaturas/carreras/arquitectura")|Arquitectura
										a(href="https://www.ucslp.edu.mx/licenciaturas/carreras/diseno-grafico")|Diseño Gráfico
										a(href="https://www.ucslp.edu.mx/licenciaturas/carreras/comunicacion")|Ciencias de la Comunicación
										a(href="https://www.ucslp.edu.mx/licenciaturas/carreras/contenidos-digitales-interactivos")|Contenidos Digitales Interactivos
										a(href="https://www.ucslp.edu.mx/licenciaturas/carreras/ciencias-de-la-actividad-fisica-y-del-deporte")|Ciencias de la Actividad y el Deporte
							li
								a(href="").head.greenHead|Maestrías y Posgrados
								a(href="https://www.ucslp.edu.mx/posgrados/carreras/especialidad-en-ortodoncia-y-ortopedia-maxilar")|Especialidad en Ortodoncia
								a(href="https://www.ucslp.edu.mx/posgrados/carreras/especialidad-en-bioetica")|Especialidad en Bioética
								a(href="https://www.ucslp.edu.mx/posgrados/carreras/maestria-en-derecho-civil")|Maestría en Derecho Civil
								a(href="https://www.ucslp.edu.mx/posgrados/carreras/maestria-en-criminologia")|Maestría en Criminología
								a(href="https://www.ucslp.edu.mx/licenciaturas/carreras/licenciatura-ejecutiva-administracion-de-empresas")|Licenciatura Ejecutiva Administración de Empresas
								a(href="https://www.ucslp.edu.mx/licenciaturas/carreras/licenciatura-ejecutiva-derecho")|Licenciatura Ejecutiva Derecho
								a(href="https://www.ucslp.edu.mx/licenciaturas/carreras/licenciatura-ejecutiva-comercio-internacional")|Licenciatura Ejecutiva Comercio Internacional
					li
						a(href="https://www.ucslp.edu.mx/integrate")|Integrate
						ul.headerMain
							li
								a(href="")|Ingreso a Lincenciatura (alumnos)
							li
								a(href="")|Ingreso a Bachillerato
							li
								a(href="")|Provenientes de Otras Universidades
							li
								a(href="")|Ingreso a Licenciatura para Alumnos Extranjeros
					li
						a(href="#")|Prestigio UC
						ul.headerMain
							li
								a(href="https://www.ucslp.edu.mx/prestigio/prestigioAlumnos")|Alumnos
							li
								a(href="https://www.ucslp.edu.mx/prestigio/prestigioProfesores")|Docentes
							li
								a(href="https://www.ucslp.edu.mx/prestigio/prestigioExAlumnos")|Ex Alumnos
					li
						a(href="https://www.ucslp.edu.mx/beneficios")|Beneficios UC
					li
						a(href="https://www.ucslp.edu.mx/internacional")|Internacional
						ul.headerMain
							li
								a(href="")|Intercambio Estudiantil
							li
								a(href="")|Estudiantes Visitantes
							li
								a(href="")|Profesores Visitantes
							li
								a(href="")|Testimonios
					li
						a(href="").final|Visítanos
	header#header.none
		nav.firstNav
			div
				ul
					a(href="").logo
						img(src="resources/culogo_round.png", alt="Universidad Cuauhtemoc").logo
			
				ul
					li(style="margin-left:0; padding-left:0;").ul64
						a(href="nosotros.html" style="margin-left:0; padding-left:0;")|Nosotros
						ul
							li
								a(href="#mision")|Misión, Visión, Valores
							li
								a(href="l#filosofia")|Filosofía
							li
								a(href="l#directorio")|Directorio
					li
						a(href="https://www.ucslp.edu.mx/oferta")|Oferta Académica
						ul.listHorizontal
							li
								a(href="#").head.greenHead|Nivel Medio Superior
									a(href="/prepauc.html")|Prepa UC
							li
								a(href="#").head.greenHead|Nivel Superior
								
								a(href="#").greenHead|Salud
									div.greenHeadContainer
										a(href="https://www.ucslp.edu.mx/licenciaturas/carreras/fisioterapia")|Fisioterapia
										a(href="https://www.ucslp.edu.mx/licenciaturas/carreras/odontologia")|Odontología
										a(href="https://www.ucslp.edu.mx/licenciaturas/carreras/medico-cirujano")|Médico Cirujano
										a(href="https://www.ucslp.edu.mx/licenciaturas/carreras/psicologia-clinica")|Psicología Clínica
										a(href="https://www.ucslp.edu.mx/licenciaturas/carreras/nutricion-y-ciencias-de-los-alimentos")|Nutrición y Ciencias de los Alimentos													
								a(href="#").greenHead|Administrativas
									div.greenHeadContainer
										a(href="https://www.ucslp.edu.mx/licenciaturas/carreras/derecho")|Derecho
										a(href="https://www.ucslp.edu.mx/licenciaturas/carreras/turismo")|Turismo
										a(href="https://www.ucslp.edu.mx/licenciaturas/carreras/comercio-internacional")|Comercio Internacional
										a(href="https://www.ucslp.edu.mx/licenciaturas/carreras/administracion-de-empresas")|Administración de Empresas
								a(href="#").greenHead|Sociales
									div.greenHeadContainer
										a(href="https://www.ucslp.edu.mx/licenciaturas/carreras/pedagogia")|Pedagogía
										a(href="https://www.ucslp.edu.mx/licenciaturas/carreras/arquitectura")|Arquitectura
										a(href="https://www.ucslp.edu.mx/licenciaturas/carreras/diseno-grafico")|Diseño Gráfico
										a(href="https://www.ucslp.edu.mx/licenciaturas/carreras/comunicacion")|Ciencias de la Comunicación
										a(href="https://www.ucslp.edu.mx/licenciaturas/carreras/contenidos-digitales-interactivos")|Contenidos Digitales Interactivos
										a(href="https://www.ucslp.edu.mx/licenciaturas/carreras/ciencias-de-la-actividad-fisica-y-del-deporte")|Ciencias de la Actividad y el Deporte
							li
								a(href="").head.greenHead|Maestrías y Posgrados
								a(href="https://www.ucslp.edu.mx/posgrados/carreras/especialidad-en-ortodoncia-y-ortopedia-maxilar")|Especialidad en Ortodoncia
								a(href="https://www.ucslp.edu.mx/posgrados/carreras/especialidad-en-bioetica")|Especialidad en Bioética
								a(href="https://www.ucslp.edu.mx/posgrados/carreras/maestria-en-derecho-civil")|Maestría en Derecho Civil
								a(href="https://www.ucslp.edu.mx/posgrados/carreras/maestria-en-criminologia")|Maestría en Criminología
								a(href="https://www.ucslp.edu.mx/licenciaturas/carreras/licenciatura-ejecutiva-administracion-de-empresas")|Licenciatura Ejecutiva Administración de Empresas
								a(href="https://www.ucslp.edu.mx/licenciaturas/carreras/licenciatura-ejecutiva-derecho")|Licenciatura Ejecutiva Derecho
								a(href="https://www.ucslp.edu.mx/licenciaturas/carreras/licenciatura-ejecutiva-comercio-internacional")|Licenciatura Ejecutiva Comercio Internacional
					li
						a(href="https://www.ucslp.edu.mx/integrate")|Integrate
						ul
							li
								a(href="")|Ingreso a Lincenciatura (alumnos)
							li
								a(href="")|Ingreso a Bachillerato
							li
								a(href="")|Provenientes de Otras Universidades
							li
								a(href="")|Ingreso a Licenciatura para Alumnos Extranjeros
					li
						a(href="#")|Prestigio UC
						ul
							li
								a(href="https://www.ucslp.edu.mx/prestigio/prestigioAlumnos")|Alumnos
							li
								a(href="https://www.ucslp.edu.mx/prestigio/prestigioProfesores")|Docentes
							li
								a(href="https://www.ucslp.edu.mx/prestigio/prestigioExAlumnos")|Ex Alumnos
					li
						a(href="https://www.ucslp.edu.mx/beneficios")|Beneficios UC
					li
						a(href="https://www.ucslp.edu.mx/internacional")|Internacional
						ul
							li
								a(href="")|Intercambio Estudiantil
							li
								a(href="")|Estudiantes Visitantes
							li
								a(href="")|Profesores Visitantes
							li
								a(href="")|Testimonios
					li
						a(href="").final|Visítanos
			div
				a(href="#").btn-green
					|¡Registrate!
		div(style="margin-left:24px").pinContainer
			div
				a(href="https://www.facebook.com/ucslp/")
					img(src="resources/facebook-pin.png", alt="Facebook").pin
			div
				a(href="https://www.instagram.com/guerreros_ucslp/")
					img(src="resources/instagram-pin.png", alt="Instagram").pin
			div
				a(href="https://www.youtube.com/user/UCUAUHTEMOCSLP")
					img(src="resources/youtube-pin.png", alt="Youtube").pin
			div
				a(href="https://twitter.com/CuauhtemocSLP?lang=es")
					img(src="resources/twitter-pin.png", alt="Twitter").pin
			div
				a(href="http://servicios.ucslp.edu.mx/")
					img(src="resources/uc-pin.png", alt="UC").pin
			div
				a(href="https://www.ucslp.edu.mx/descargas/calendario/ucslp_calendario.pdf")
					img(src="resources/calendar-pin.png", alt="Calendario").pin
	script
		|$(".headerMain").hover(function(){
		|	$("#video1").css("display", "block");
		|    }, function(){
		|    $("#video1").css("display", "none");
		|});
		

		
	div#video1
	section.contentNosotros
		div.bar
			h3
				|Misión, Visión y Valores
			h3
				|Filosofía
			h3
				|Directorio
			
		div.uno(onclick="window.location.replace('#mision');")
			video(src="resources/HomeMision.mp4")
		div.dos(onclick="window.location.replace('#filosofia');")
			video(src="resources/HomeFilosofia.mp4")
		div.tres(onclick="window.location.replace('#directorio');")
			div
				h4
					|Rectoría
				p
					|- Lic. Francisco Martinez Becker
				p
					|Rector
				br
				p
					|- Miriam Monreal Velázquez
				p
					|Asistente / miriam@ucslp.net
				br
				p
					|- Alejandra González Herrejón
				p
					|Asistente / alejandraglz@ucslp.net
				br
				h4
					|Control Escolar
				p
					|- Lic. Claudia Reyna Medina - Yeimi Erika Alvarado
				p
					|Directora / claudia@ucslp.net - Asistente /yeimi@ucslp.net
				br
				p
					|- Lic. Marpia Dolores Monreal - Yosania Enedina Ochoa
				p
					|Coordinadora / miriam@ucslp.net - Asistente / yosania@ucslp.net
				br
				p
					|- Angélica Rojas Muñoz - Ana García Castro
				p
					|Asistente / angelica@ucslp.net - Asistente / anagarcia@ucslp.net
				br
				p
					|- María Aurelia Muñoz Delgadillo
				p
					|Asistente / marule@ucslp.net
				br
				h4
					|Contabilidad
				p
					|- Lic. Roberto Carlos Olvera Araiza
				p
					|roberto@ucslp.net
				br
				h4
					|Coordinaciones
				div.containerDirectorio
					div
						p.greenTitle
							|Arquitectura
						p
							|- Mtra. Ana Isabel Merino Ávila
						p
							|Coordinador
						p
							|anamerino@ucslp.net
					div
						p.greenTitle
							|Económico Administrativo
						p
							|- Lic. Briseida Castañeda Hernández
						p
							|Coordinador
						p
							|briseida@ucslp.net
				div.containerDirectorio
					div
						p.greenTitle
							|Ciencias de la Comunación
						p
							|- Lic. María Oliva García Ibarra
						p
							|Coordinador
						p
							|olivia@ucslp.net
					div
						p.greenTitle
							|Nutrición y Ciencias de los Alimentos
						p
							|- Lic. Cecilia A. Cabrera Pérez
						p
							|Coordinador
						p
							|ceciliabrera@ucslp.net
				div.containerDirectorio
					div
						p.greenTitle
							|Derecho
						p
							|- Lic. José Luis Mtz Escaname
						p
							|Coordinador
						p
							|escaname@ucslp.net
					div
						p.greenTitle
							|Psicología Clínica
						p
							|- L.P. Alma Elizabeth Marín Ortega
						p
							|Coordinador
						p
							|elizabeth@ucslp.net
				div.containerDirectorio
					div
						p.greenTitle
							|Diseño Gráfico
						p
							|- M.E. Alejandra Domínguez
						p
							|Coordinador
						p
							|aledominguez@ucslp.net
					div
				br
				h4
					|Facultad de Odontología
				div.containerDirectorio
					div
						p
							|- Dr. Francisco Javier Tobías
						p
							|Director
						p
							|franciscotobias@ucslp.net
					div
						p.greenTitle
							|Clínicas Odontológicas
						p
							|- Dr. Andrés Mares Lobo
						p
							|Coordinador
						p
							|mares@ucslp.net
				div.containerDirectorio
					div
						p.greenTitle
							|Coordinación Académica
						p
							|- Dr. Gerardo Eguia Pastrana
						p
							|Coordinador
						p
							|gerardoeguia@ucslp.net
					div
						p.greenTitle
							|Especialidad en Ortodoncia y Ortopedia Maxilar
						p
							|- Dra. S. Paulina Martínez Contreras
						p
							|Coordinador
						p
							|paulina@ucslp.net
				p
					|- Isabel Cristina Macías Verduzco
				p
					|Asistente
				p
					|isabel@ucslp.net
				br
				h4
					|Escuela de Medicina
				div.containerDirectorio
					div
						p
							|- Dr. Rosnedo Silva Ruíz
						p
							|Director
						p
							|medicina@ucslp.net
					div
						p
							|- Dr. Carlos Agustín Rodríguez Paz
						p
							|Coordinador
						p
							|rodriguezpazca@ucslp.net
				h4
					|Vinculación
				p
					|- MBA Gissel Marin Navarro
				p
					|Vinculación@ucslp.net
				br
				h4
					|Promoción
				div.containerDirectorio
					div
						p
							|- Maribel García Galván
						p
							|maribel@ucslp.net
					div
						p
							|- LCC. Christian Sánchez Ruíz
						p
							|christian@ucslp.net
				div.containerDirectorio
					div
						p
							|- Claudia Yoanna Mejia Reyna
						p
							|claudiamejia@ucslp.net
					div
						p
							|- LIC. Monserrat Calderon Beltran
						p
							|monserratcalderon@ucslp.net
				p
					|- Eric E. Bravo Trejo
				p
					|eric@ucslp.net
				br

				h4
					|Biblioteca
				div.containerDirectorio
					div
						p
							|- L.B. Oscar José Montero
						p
							|oscar@ucslp.net
					div
						p
							|- L.B. Yashira Arlette Ortega Salas
						p
							|arlette@ucslp.net
				br
				h4
					|Centro de Computo
				div.containerDirectorio
					div
						p
							|- Alejandro Gutiérrez Soberón
						p
							|alejandro@ucslp.net
					div
						p
							|- Martha Olivia Muñoz Delgadillo
						p
							|martha@ucslp.net
				br
				h4
					|Eventos Institucionales
				p
					|- Lic. Augusto Rodríguez Hernández
				p
					|augusto@ucslp.net


		script
			| $(".contentNosotros").find("video").hover(function(){
			|		$(this).get(0).play();
			|	},function(){
			|		$(this).get(0).pause();
			|		$(this).get(0).currentTime= 0;
			|	})
	section#mision
		video(src="resources/mision.mp4" loop)#videoMision
		h1
			|Misión, Visión y Valores
	section#filosofia
		video(src="resources/filosofia.mp4" loop)#videoFilos
		h1
			|Filosofía 
	section#directorio
		h1
			|Directorio
		div.uno
			div
				h4
					|Rectoría
				p
					|- Lic. Francisco Martinez Becker
				p
					|Rector
				br
				p
					|- Miriam Monreal Velázquez
				p
					|Asistente / miriam@ucslp.net
				br
				p
					|- Alejandra González Herrejón
				p
					|Asistente / alejandraglz@ucslp.net
				br
				h4
					|Control Escolar
				p
					|- Lic. Claudia Reyna Medina - Yeimi Erika Alvarado
				p
					|Directora / claudia@ucslp.net - Asistente /yeimi@ucslp.net
				br
				p
					|- Lic. Marpia Dolores Monreal - Yosania Enedina Ochoa
				p
					|Coordinadora / miriam@ucslp.net - Asistente / yosania@ucslp.net
				br
				p
					|- Angélica Rojas Muñoz - Ana García Castro
				p
					|Asistente / angelica@ucslp.net - Asistente / anagarcia@ucslp.net
				br
				p
					|- María Aurelia Muñoz Delgadillo
				p
					|Asistente / marule@ucslp.net
				br
				br
				br
				br
				h4
					|Contabilidad
				p
					|- Lic. Roberto Carlos Olvera Araiza
				p
					|roberto@ucslp.net
				br
				br
				br
				br
				br
		div.dos
			h4
				|Coordinaciones
			div.containerDirectorio
				div
					p.greenTitle
						|Arquitectura
					p
						|- Mtra. Ana Isabel Merino Ávila
					p
						|Coordinador
					p
						|anamerino@ucslp.net
				div
					p.greenTitle
						|Económico Administrativo
					p
						|- Lic. Briseida Castañeda Hernández
					p
						|Coordinador
					p
						|briseida@ucslp.net
			div.containerDirectorio
				div
					p.greenTitle
						|Ciencias de la Comunación
					p
						|- Lic. María Oliva García Ibarra
					p
						|Coordinador
					p
						|olivia@ucslp.net
				div
					p.greenTitle
						|Nutrición y Ciencias de los Alimentos
					p
						|- Lic. Cecilia A. Cabrera Pérez
					p
						|Coordinador
					p
						|ceciliabrera@ucslp.net
			div.containerDirectorio
				div
					p.greenTitle
						|Derecho
					p
						|- Lic. José Luis Mtz Escaname
					p
						|Coordinador
					p
						|escaname@ucslp.net
				div
					p.greenTitle
						|Psicología Clínica
					p
						|- L.P. Alma Elizabeth Marín Ortega
					p
						|Coordinador
					p
						|elizabeth@ucslp.net
			div.containerDirectorio
				div
					p.greenTitle
						|Diseño Gráfico
					p
						|- M.E. Alejandra Domínguez
					p
						|Coordinador
					p
						|aledominguez@ucslp.net
				div
			br
			h4
				|Facultad de Odontología
			div.containerDirectorio
				div
					p
						|- Dr. Francisco Javier Tobías
					p
						|Director
					p
						|franciscotobias@ucslp.net
				div
					p.greenTitle
						|Clínicas Odontológicas
					p
						|- Dr. Andrés Mares Lobo
					p
						|Coordinador
					p
						|mares@ucslp.net
			div.containerDirectorio
				div
					p.greenTitle
						|Coordinación Académica
					p
						|- Dr. Gerardo Eguia Pastrana
					p
						|Coordinador
					p
						|gerardoeguia@ucslp.net
				div
					p.greenTitle
						|Especialidad en Ortodoncia y Ortopedia Maxilar
					p
						|- Dra. S. Paulina Martínez Contreras
					p
						|Coordinador
					p
						|paulina@ucslp.net
			p
				|- Isabel Cristina Macías Verduzco
			p
				|Asistente
			p
				|isabel@ucslp.net
			br
			h4
				|Escuela de Medicina
			div.containerDirectorio
				div
					p
						|- Dr. Rosnedo Silva Ruíz
					p
						|Director
					p
						|medicina@ucslp.net
				div
					p
						|- Dr. Carlos Agustín Rodríguez Paz
					p
						|Coordinador
					p
						|rodriguezpazca@ucslp.net
		div.tres
			h4
				|Vinculación
			p
				|- MBA Gissel Marin Navarro
			p
				|Vinculación@ucslp.net
			br
			h4
				|Promoción
			div.containerDirectorio
				div
					p
						|- Maribel García Galván
					p
						|maribel@ucslp.net
				div
					p
						|- LCC. Christian Sánchez Ruíz
					p
						|christian@ucslp.net
			div.containerDirectorio
				div
					p
						|- Claudia Yoanna Mejia Reyna
					p
						|claudiamejia@ucslp.net
				div
					p
						|- LIC. Monserrat Calderon Beltran
					p
						|monserratcalderon@ucslp.net
			p
				|- Eric E. Bravo Trejo
			p
				|eric@ucslp.net
			br

			h4
				|Biblioteca
			div.containerDirectorio
				div
					p
						|- L.B. Oscar José Montero
					p
						|oscar@ucslp.net
				div
					p
						|- L.B. Yashira Arlette Ortega Salas
					p
						|arlette@ucslp.net
			br
			h4
				|Centro de Computo
			div.containerDirectorio
				div
					p
						|- Alejandro Gutiérrez Soberón
					p
						|alejandro@ucslp.net
				div
					p
						|- Martha Olivia Muñoz Delgadillo
					p
						|martha@ucslp.net
			br
			h4
				|Eventos Institucionales
			p
				|- Lic. Augusto Rodríguez Hernández
			p
				|augusto@ucslp.net
	footer.contact
		p.specialP
			|Contacto
		div.info
			div.internal
				div.one
					a(href="")
						img(src="resources/culogo.png", alt="Universidad Cuauhtemoc")
				div.two
					div.two_one
						p
							|Dirección: Salvador Nava Martínez No.3291
						p
							|Col. Viveros. San Luis Potosí, México.
						p
							|C.P. 78290
					div.two_two
						p
							|Lada Sin Costo: 01 800 00 UCSLP (82757)
						p
							|Teléfonos: (444) 500.45.00 / (444) 817.62.30
						p
							|WhatsApp: (444) 408.30.27
						p
							|Email: contacto@ucslp.net
		div.social
			a(href="")
				img(src="resources/facebook-pin.png", alt="Facebook")
			a(href="")
				img(src="resources/twitter-pin.png", alt="Twitter")
			a(href="")
				img(src="resources/instagram-pin.png", alt="Instagram")
	script
		|$(document).ready(function(){
		|	var actual = window.location.href.toString().split(window.location.host)[1];
		|	if(actual != "/nosotros.html"){
		|		$("#mainHeader").addClass("none");
		|		$("#header").removeClass("none").addClass("headerWhite");
		|		if(actual == "/nosotros.html#mision"){
		|			$("#videoMision").get(0).currentTime = 0;
		|			$("#videoMision").get(0).play();
		|		}
		|		if(actual == "/nosotros.html#filosofia"){
		|			$("#videoFilos").get(0).currentTime = 0;
		|			$("#videoFilos").get(0).play();
		|		}
		|		actual = window.location.href.toString();
		|		if(actual == "https://axlrui.github.io/ucwebpage.github.io/nosotros.html#mision"){
		|			$("#videoMision").get(0).currentTime = 0;
		|			$("#videoMision").get(0).play();
		|		}
		|		if(actual == "https://axlrui.github.io/ucwebpage.github.io/nosotros.html#filosofia"){
		|			$("#videoFilos").get(0).currentTime = 0;
		|			$("#videoFilos").get(0).play();
		|		}
		|	}
		|});
		|$(".contentNosotros").find("div").click(function(){
		|	$("#mainHeader").addClass("none");
		|	$("#header").removeClass("none").addClass("headerWhite");
		|	switch($(this).attr("class").toString()){
		|		case "uno":
		|			$("#videoMision").get(0).currentTime = 0;
		|			$("#videoMision").get(0).play();
		|		break;
		|		case "dos":
		|			$("#videoFilos").get(0).currentTime = 0;
		|			$("#videoFilosofia").get(0).play();
		|		break;
		|	}
		|});
		|$(window).bind('hashchange', function() {
		|	var actual = window.location.href.toString().split(window.location.host)[1];
		|	if(actual != "/nosotros.html"){
		|		$("#mainHeader").addClass("none");
		|		$("#header").removeClass("none").addClass("headerWhite");
		|		if(actual == "/nosotros.html#mision"){
		|			$("#videoMision").get(0).currentTime = 0;
		|			$("#videoMision").get(0).play();
		|		}
		|		if(actual == "/nosotros.html#filosofia"){
		|			$("#videoFilos").get(0).currentTime = 0;
		|			$("#videoFilos").get(0).play();
		|		}
		|		if(actual == "/nosotros.html#directorio"){
		|			$("#videoMision").get(0).pause();
		|			$("#videoFilos").get(0).pause();
		|		}
		|		actual = window.location.href.toString();
		|		if(actual == "https://axlrui.github.io/ucwebpage.github.io/nosotros.html#mision"){
		|			$("#videoMision").get(0).currentTime = 0;
		|			$("#videoMision").get(0).play();
		|		}
		|		if(actual == "https://axlrui.github.io/ucwebpage.github.io/nosotros.html#filosofia"){
		|			$("#videoFilos").get(0).currentTime = 0;
		|			$("#videoFilos").get(0).play();
		|		}
		|		if(actual == "https://axlrui.github.io/ucwebpage.github.io/nosotros.html#directorio"){
		|			$("#videoMision").get(0).pause();
		|			$("#videoFilos").get(0).pause();
		|		}
		|	}
		|});
