<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Derecho
	link(rel="stylesheet", href="../css/academicaStyles.css")
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
body
	header.doblehead#mainHeader
		div.pinContainer
			div
				a(href="https://www.facebook.com/ucslp/")
					img(src="../../../resources/facebook-pin.png", alt="Facebook").pin
			div
				a(href="https://www.instagram.com/guerreros_ucslp/")
					img(src="../../../resources/instagram-pin.png", alt="Instagram").pin
			div
				a(href="https://www.youtube.com/user/UCUAUHTEMOCSLP")
					img(src="../../../resources/youtube-pin.png", alt="Youtube").pin
			div
				a(href="https://twitter.com/CuauhtemocSLP?lang=es")
					img(src="../../../resources/twitter-pin.png", alt="Twitter").pin
			div
				a(href="http://servicios.ucslp.edu.mx/")
					img(src="../../../resources/uc-pin.png", alt="UC").pin
			div
				a(href="https://www.ucslp.edu.mx/descargas/calendario/ucslp_calendario.pdf")
					img(src="../../../resources/calendar-pin.png", alt="Calendario").pin
			div
				a(href="#").btn-green
					|¡Registrate!
		nav.firstNav
			div
				ul
					a(href="../index.html").logo
						img(src="../../../resources/culogo.png", alt="Universidad Cuauhtemoc").logo
			
				ul
					li(style="margin-left:0; padding-left:0;").ul64
						a(href="../nosotros.html" style="margin-left:0; padding-left:0;")|Nosotros
						ul
							li
								a(href="../nosotros.html#mision")|Misión, Visión, Valores
							li
								a(href="../nosotros.html#filosofia")|Filosofía
							li
								a(href="../nosotros.html#directorio")|Directorio
					li
						a(href="../oferta.html")|Oferta Académica
						ul.listHorizontal
							li
								a(href="#").head.greenHead|Nivel Medio Superior
									a(href="../prepauc.html")|Prepa UC
							li
								a(href="#").head.greenHead|Nivel Superior
								
								a(href="#").greenHead|Salud
									div.greenHeadContainer
										a(href="/oferta_academica/fisioterapia.html")|Fisioterapia
										a(href="/oferta_academica/odontologia.html")|Odontología
										a(href="/oferta_academica/medico.html")|Médico Cirujano
										a(href="/oferta_academica/psicologia.html")|Psicología Clínica
										a(href="/oferta_academica/nutricion.html")|Nutrición y Ciencias de los Alimentos													
										a(href="/oferta_academica/deporte.html")|Ciencias de la Actividad Física y del Deporte
								a(href="#").greenHead|Sociales
									div.greenHeadContainer
										a(href="/oferta_academica/derecho.html")|Derecho
										a(href="/oferta_academica/turismo.html")|Turismo
										a(href="/oferta_academica/comercio.html")|Comercio Internacional
										a(href="/oferta_academica/administracion.html")|Administración de Empresas
										a(href="/oferta_academica/ejecutiva_derecho.html")|Licenciatura Ejecutiva en Derecho
										a(href="/oferta_academica/ejecutiva_comercio.html")|Licenciatura Ejecutiva en Comercio Internacional
										a(href="/oferta_academica/administracion.html")|Licenciatura Ejecutiva en Administración de Empresas
								a(href="#").greenHead|Humanidades
									div.greenHeadContainer
										a(href="/oferta_academica/pedagogia.html")|Pedagogía
										a(href="/oferta_academica/arquitectura.html")|Arquitectura
										a(href="/oferta_academica/grafico.html")|Diseño Gráfico
										a(href="/oferta_academica/comunicacion.html")|Ciencias de la Comunicación
								a(href="").greenHead|Ingeniería
									div.greenHeadContainer
										a(href="/oferta_academica/digitales.html")|Contenidos Digitales Interactivos
							li
								a(href="").head.greenHead|Maestrías y Posgrados
								a(href="/oferta_academica/especialidad-en-bioetica.html")|Especialidad en Bioética
								a(href="/oferta_academica/maestria-en-derecho-civil.html")|Maestría en Derecho Civil
								a(href="/oferta_academica/maestria-en-criminologia.html")|Maestría en Criminología
								a(href="/oferta_academica/especialidad-en-ortodoncia-y-ortopedia-maxilar.html")|Especialidad en Ortodoncia y Ortopedia Maxilar
					li
						a(href="https://www.ucslp.edu.mx/integrate")|Integrate
						ul
							li
								a(href="")|Ingreso a Lincenciatura (alumnos)
							li
								a(href="")|Ingreso a Bachillerato
							li
								a(href="")|Provenientes de Otras Universidades
							li
								a(href="")|Ingreso a Licenciatura para Alumnos Extranjeros
					li
						a(href="#")|Prestigio UC
						ul
							li
								a(href="https://www.ucslp.edu.mx/prestigio/prestigioAlumnos")|Alumnos
							li
								a(href="https://www.ucslp.edu.mx/prestigio/prestigioProfesores")|Docentes
							li
								a(href="https://www.ucslp.edu.mx/prestigio/prestigioExAlumnos")|Ex Alumnos
					li
						a(href="https://www.ucslp.edu.mx/beneficios")|Beneficios UC
					li
						a(href="https://www.ucslp.edu.mx/internacional")|Internacional
						ul
							li
								a(href="")|Intercambio Estudiantil
							li
								a(href="")|Estudiantes Visitantes
							li
								a(href="")|Profesores Visitantes
							li
								a(href="")|Testimonios
					li
						a(href="").final|Visítanos
	header#header.none
		nav.firstNav
			div
				ul
					a(href="../index.html").logo
						img(src="../../resources/culogo_round.png", alt="Universidad Cuauhtemoc").logo
			
				ul
					li(style="margin-left:0; padding-left:0;").ul64
						a(href="../nosotros.html" style="margin-left:0; padding-left:0;")|Nosotros
						ul
							li
								a(href="../nosotros.html#mision")|Misión, Visión, Valores
							li
								a(href="../nosotros.html#filosofia")|Filosofía
							li
								a(href="../nosotros.html#directorio")|Directorio
					li
						a(href="../oferta.html")|Oferta Académica
						ul.listHorizontal
							li
								a(href="#").head.greenHead|Nivel Medio Superior
									a(href="../prepauc.html")|Prepa UC
							li
								a(href="#").head.greenHead|Nivel Superior
								
								a(href="#").greenHead|Salud
									div.greenHeadContainer
										a(href="/oferta_academica/fisioterapia.html")|Fisioterapia
										a(href="/oferta_academica/odontologia.html")|Odontología
										a(href="/oferta_academica/medico.html")|Médico Cirujano
										a(href="/oferta_academica/psicologia.html")|Psicología Clínica
										a(href="/oferta_academica/nutricion.html")|Nutrición y Ciencias de los Alimentos													
										a(href="/oferta_academica/deporte.html")|Ciencias de la Actividad Física y del Deporte
								a(href="#").greenHead|Sociales
									div.greenHeadContainer
										a(href="/oferta_academica/derecho.html")|Derecho
										a(href="/oferta_academica/turismo.html")|Turismo
										a(href="/oferta_academica/comercio.html")|Comercio Internacional
										a(href="/oferta_academica/administracion.html")|Administración de Empresas
										a(href="/oferta_academica/ejecutiva_derecho.html")|Licenciatura Ejecutiva en Derecho
										a(href="/oferta_academica/ejecutiva_comercio.html")|Licenciatura Ejecutiva en Comercio Internacional
										a(href="/oferta_academica/administracion.html")|Licenciatura Ejecutiva en Administración de Empresas
								a(href="#").greenHead|Humanidades
									div.greenHeadContainer
										a(href="/oferta_academica/pedagogia.html")|Pedagogía
										a(href="/oferta_academica/arquitectura.html")|Arquitectura
										a(href="/oferta_academica/grafico.html")|Diseño Gráfico
										a(href="/oferta_academica/comunicacion.html")|Ciencias de la Comunicación
								a(href="").greenHead|Ingeniería
									div.greenHeadContainer
										a(href="/oferta_academica/digitales.html")|Contenidos Digitales Interactivos
							li
								a(href="").head.greenHead|Maestrías y Posgrados
								a(href="/oferta_academica/especialidad-en-bioetica.html")|Especialidad en Bioética
								a(href="/oferta_academica/maestria-en-derecho-civil.html")|Maestría en Derecho Civil
								a(href="/oferta_academica/maestria-en-criminologia.html")|Maestría en Criminología
								a(href="/oferta_academica/especialidad-en-ortodoncia-y-ortopedia-maxilar.html")|Especialidad en Ortodoncia y Ortopedia Maxilar
					li
						a(href="https://www.ucslp.edu.mx/integrate")|Integrate
						ul
							li
								a(href="")|Ingreso a Lincenciatura (alumnos)
							li
								a(href="")|Ingreso a Bachillerato
							li
								a(href="")|Provenientes de Otras Universidades
							li
								a(href="")|Ingreso a Licenciatura para Alumnos Extranjeros
					li
						a(href="#")|Prestigio UC
						ul
							li
								a(href="https://www.ucslp.edu.mx/prestigio/prestigioAlumnos")|Alumnos
							li
								a(href="https://www.ucslp.edu.mx/prestigio/prestigioProfesores")|Docentes
							li
								a(href="https://www.ucslp.edu.mx/prestigio/prestigioExAlumnos")|Ex Alumnos
					li
						a(href="https://www.ucslp.edu.mx/beneficios")|Beneficios UC
					li
						a(href="https://www.ucslp.edu.mx/internacional")|Internacional
						ul
							li
								a(href="")|Intercambio Estudiantil
							li
								a(href="")|Estudiantes Visitantes
							li
								a(href="")|Profesores Visitantes
							li
								a(href="")|Testimonios
					li
						a(href="").final|Visítanos
			div
				a(href="#").btn-green
					|¡Registrate!
		div(style="margin-left:24px").pinContainer
			div
				a(href="https://www.facebook.com/ucslp/")
					img(src="../../resources/facebook-pin.png", alt="Facebook").pin
			div
				a(href="https://www.instagram.com/guerreros_ucslp/")
					img(src="../../resources/instagram-pin.png", alt="Instagram").pin
			div
				a(href="https://www.youtube.com/user/UCUAUHTEMOCSLP")
					img(src="../../resources/youtube-pin.png", alt="Youtube").pin
			div
				a(href="https://twitter.com/CuauhtemocSLP?lang=es")
					img(src="../../resources/twitter-pin.png", alt="Twitter").pin
			div
				a(href="http://servicios.ucslp.edu.mx/")
					img(src="../../resources/uc-pin.png", alt="UC").pin
			div
				a(href="https://www.ucslp.edu.mx/descargas/calendario/ucslp_calendario.pdf")
					img(src="../../resources/calendar-pin.png", alt="Calendario").pin
					
	section.content#cont1
		div.a1
			div.light
			div(style="background-color: #98381a;").medium
				h1|Derecho
				p|Modalidad: Semestral
				p|Duración: Cuatro años
				p|Total de créditos: 370
				p|RVOE: 2007451
		div.a2
			div.hard
				div(style="background-image: url(../../resources/folleto_icon.svg);").slides
					p|Descarga el
					h2|Folleto
				div(style="background-image: url(../../resources/oferta/derecho/4.jpg); background-position: right; background-size: cover;").b1
			div(style="background-image: url(../../resources/oferta/derecho/1.jpg); background-position: center; background-size: cover;")
			div.green
				div(style="background-image: url(../../resources/oferta/derecho/2.jpg); background-position: left; background-size: cover;").b2
				div(style="background-image: url(../../resources/money_bag_icon.svg);").slides
					p|Licenciatura
					h2|Costo
	section.content2.derecho#cont2
		span.walkBar
			img(src="../../resources/edificios/cuauh.svg").building
			span.dotContainer
				div.derecho
					span(style="width: 800px; margin-left: 300px; background-image: none; background-color: #003056; border-radius: 50px").globo.flexGlobo
						div
							h1|BLOQUE BÁSICO
							p|- FUNDAMENTOS DE DERECHO
							p|- DERECHO ROMANO
							p|- MÉTODOS DE INVESTIGACIÓN
							p|- TEORÍA GENERAL DEL ESTADO
							p|- HISTORIA DEL DERECHO MEXICANO
							p|- DERECHO CONSTITUCIONAL
							p|- FUNDAMENTOS DE SOCIOLOGÍA
							p|- GARANTÍAS INDIVIDUALES
							p|- DERECHO MERCANTIL
							p|- DERECHO ECONÓMICO
							p|- CIENCIA POLÍTICA
							p|- DERECHO ADMINISTRATIVO
						div
							p|- ESTRUCTURA SOCIOECONÓMICA DE MÉXICO
							p|- DERECHO CIVIL I
							p|- DERECHO LABORAL
							p|- TÍTULOS Y OPERACIONES DE CRÉDITO
							p|- DERECHOS HUMANOS
							p|- LEGISLACIÓN ESTATAL Y MUNICIPAL
							p|- TEORÍA DEL DELITO
							p|- DERECHO CIVIL II
							p|- DERECHO COLECTIVO LABORAL
							p|- TEORÍA GENERAL DEL PROCESO
							p|- DELITOS EN PARTICULAR
							p|- DERECHO CIVIL III
							p|- DERECHO PROCESAL LABORAL
						div
							p|- DERECHO PROCESAL MERCANTIL
							p|- DERECHO PROCESAL PENAL
							p|- DERECHO CIVIL IV
							p|- AMPARO
							p|- DERECHO PROCESAL ADMINISTRATIVO
							p|- DERECHO PROCESAL CIVIL
							p|- PRÁCTICAS DE AMPARO
							p|- FILOSOFÍA JURÍDICA Y ÉTICA PROFESIONAL
							p|- DERECHO NOTARIAL Y REGISTRAL
							p|- QUIEBRAS Y SUSPENSIONES
							p|- DERECHO CORPORATIVO
							p|- DERECHO FISCAL
					img(src="../../resources/monitos/2.svg")
				div.derecho
					span(style="width: 800px;  background-image: none; background-color: #003056; border-radius: 50px").globo.flexGlobo
						div
							h1|ÁREA OPTATIVA
							p|- SEGURIDAD SOCIAL
							p|- DERECHO INTERNACIONAL
							p|- DERECHO MARÍTIMO
							p|- DERECHO AGRARIO
							p|- CONTRATOS MERCANTILES
							p|- DERECHHO ADUANERO
							p|- MEDICINA FORENSE
							p|- CRIMINOLOGÍA
							p|- RÉGIMEN FISCAL EMPRESARIAL
							p|- DERECHO TURÍSTICO
							p|- DERECHO ECOLÓGICO
							p|- DERECHO ARBITRAL
						div(style="padding-top: 40px")
							p|- DERECHO EN MEDIOS DE COMUNICACIÓN
							p|- DERECHO BANCARIO Y BURSÁTIL
							p|- COMERCIO EXTERIOR
							p|- FINANZAS PÚBLICAS
							p|- FUNDAMENTOS DE INFORMÁTICA
							p|- PROCESO ADMINISTRATIVO
							p|- ADMINISTRACIÓN DE LA PEQUEÑA Y MEDIANA EMPRESA
							p|- LIDERAZGO Y TRABAJO EN EQUIPO
							p|- GLOBALIZACIÓN Y DESARROLLO EMPRESARIAL
							p|- DESARROLLO Y PRODUCTIVIDAD
							p|- ADMINISTRACIÓN DE CALIDAD
					img(src="../../resources/monitos/10.svg" style="left: -80%")
				div.derecho
					span(style="width: 200px; height: 400px;").globo
						h1|ÁREAS DE FORMACIÓN
						p|- EMPRENDEDORES
						p|- SEMINARIO DE INVESTIGACIÓN
						p|- PORTAFOLIO PROFESIONAL
						p|- EXPRESIÓN ESCRITA
						p|- EXPRESIÓN ORAL
						p|- ADMINISTRACIÓN DEL TIEMPO
						p|- DESARROLLO DE HABILIDADES DE PENSAMIENTO
						p|- CREATIVIDAD Y LIDERAZGO
					img(src="../../resources/monitos/12.svg" style="left: -90%")
			img(src="../../resources/edificios/derecho.svg").building
	footer.contact
		p.specialP
			|Contacto
		div.info
			div.internal
				div.one
					a(href="")
						img(src="../resources/culogo.png", alt="Universidad Cuauhtemoc")
				div.two
					div.two_one
						p
							|Dirección: Salvador Nava Martínez No.3291
						p
							|Col. Viveros. San Luis Potosí, México.
						p
							|C.P. 78290
					div.two_two
						p
							|Lada Sin Costo: 01 800 00 UCSLP (82757)
						p
							|Teléfonos: (444) 500.45.00 / (444) 817.62.30
						p
							|WhatsApp: (444) 408.30.27
						p
							|Email: contacto@ucslp.net
		div.social
			a(href="")
				img(src="../resources/facebook-pin.png", alt="Facebook")
			a(href="")
				img(src="../resources/twitter-pin.png", alt="Twitter")
			a(href="")
				img(src="../resources/instagram-pin.png", alt="Instagram")
	script

		| 
		|$(document).ready(function(){
		|	
		|  $(window).scroll(function() {
		|    if ($(document).scrollTop() > 7 ) {
		|      $("#cont2").css("z-index", "2");
		|		$("#header").addClass("headerWhite");
		|		$("#header").removeClass("none");
		|		$("#mainHeader").addClass("none");
		|    } else if ($(document).scrollTop() < 8){
		|      $("#cont2").css("z-index", "1");
		|		$("#header").removeClass("headerWhite");
		|		$("#header").addClass("none");
		|		$("#mainHeader").removeClass("none");
		|    }
		|  });
		|});