doctype html
html
	head
		link(rel="stylesheet" href="css/movilStyles.css")
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,900" rel="stylesheet">
			
	body
		
		content#secondViewNav
			include headerV2.pug

		content#Arquitectura
			div.first
				div.second.video
					div
				div.second#info
					p 
						|Arquitectura
					div 
						p 
							|Modalidad: Semestral
						br
						p 
							|Duración: Cuatro años
						br
						p 
							|Totalde créditos: 392
						br
						p 
							|RVOE: 20091232
			div.first
				div.second
					img(src="resources/arquitectura/1.jpg")
				div.second
					div.third#green
						div.circle
							img(src="resources/arquitectura/book.png")
						div
							p
								|Descarga el
							p.big
								|Folleto
					div.third#gray
						div.circle
							img(src="resources/arquitectura/money.png")
						div
							p
								|Licenciatura
							p.big
								|Costo
			div.first
				div.second.white
					img(src="resources/arquitectura/1.png")
					div.bloque.one
						p.titulo
							|BLOQUE BÁSICO
						div.ext
							div
								p
									|-ANÁLISIS DE SITIO
								p
									|-ANÁLISIS DE SITIO
								p
									|-ARQUITECTURA EN MÉXICO SIGLO XIX
								p
									|-ARQUITECTURA EN MÉXICO SIGLO XX
								p
									|-ARQUITECTURA PREHISPÁNICA Y COLONIAL
								
								p
									|-CÁLCULO
								
								p
									|-CIMENTACIONES COMPENSADAS
								
								p
									|-DIBUJO AL NATURAL Y EN PERSPECTIVA
								
								p
									|-DIBUJO ARQUITECTÓNICO ASISTIDO POR COMPUTADOR
								
								p
									|-DIBUJO TÉCNICO
								
								p
									|-DIBUJO TÉCNICO AVANZADO
								
								p
									|-DISEÑO ARQUITECTÓNICO ASISTIDO POR COMPUTADOR
							div
								p
									|-DISEÑO BÁSICO
								
								p
									|-DISEÑO DE ACÚSTICA
								
								p
									|-DISEÑO DE ILLUMINACIÓN
								
								p
									|-ELEMENTOS DEL PROYECTO ARQUITECTÓNICO
								
								p
									|-ELEMENTOS DEL PROYECTO EJECUTIVO
								
								p
									|-ESTADÍSTICA
								
								p
									|-ESTÁTICA
								
								p
									|-ESTRUCTURAS CONTINUAS
								
								p
									|-ESTRUCTURAS DE ACERO
								
								p
									|-ESTRUCTURAAS DE CONCRETO
								
								p
									|-FACTIBILIDAD DEL PROYECTO ARQUITECTÓNICO
								
								p
									|-FUNDAMENTOS DEL PROYECTO ARQUITECTÓNICO
								
								p
									|GEOMETRÍA CONSTRUCTIVA
							div
								
								p
									|-GEOMETRÍA DESCRIPTIVA
								
								p
									|-GEOMETRÍA Y PERSPECTIVA
								
								p
									|-HISTORIA DE LA ARQUITECTURA
								
								p
									|-INSTALACIONES BÁSICAS
								
								p
									|-INSTALACIONES COMPLEMENTARIAS Y ESPECIALES
								
								p
									|-LEGISLACIÓN APLICADA A LA CONSTRUCCIÓN
								
								p
									|-MATERIALES Y PROCEDIMIENTOS DE CONSTRUCCIÓN
								
								p
									|-MEDIO AMBIENTE Y CIUDAD
								
								p
									|-METODOLOGÍA Y ARQUITECTURA
								
								p
									|-MÉTODOS Y TÉCNICAS DEL PROYECTO
								
								p
									|-ARQUITECTÓNICO
							div
								
								p
									|-ORGANIZACIÓN DE PROYECTOS Y OBRAS
								
								p
									|-PROCESO DE CONSTRUCCIÓN
								
								p
									|-PROYECTO ARQUITECTÓNICO
								
								p
									|-PROYECTO ESTRUCTURAL
								
								p
									|-PSICOLOGÍA AMBIENTAL
								
								p
									|-RESISTENCIA DE MATERIALES
								
								p
									|-TECNOLOGÍAS AMBIENTALES
								
								p
									|-TEORÍA DE LA ARQUITECTURA
								
								p
									|-TEORÍA SUPERIOR DE LA ARQUITECTURA
						div.dots
							div.dot
							div.dot
				div.second.blue
					div.bloque.one
						P.titulo
							|BLOQUE ESPECÍFICO
						div.ext
							div
								
								p
									|-INDUSTRALIZACIÓN DE LA CONSTRUCCIÓN
								
								p
									|-REGENERACIÓN URBANO AMBIENTAL
								
								p
									|-DESARROLLO INMOBILIARIO
								
								p
									|-CRITERIOS DE CONSERVACIÓN
								
								p
									|-ARQUITECTURA DEL PAISAJE
								
								p
									|-ARQUITECTURA DE LA NUEVA GENERACIÓN
								
								p
									|-CIMENTACIÓN PARA EDIFICACIONES DE GRAN CLARO
								
								p
									|-DISEÑO Y CONTRUCCIÓN DE EDIFICIOS DE GRAN AL
								
								p
									|-DISEÑO Y CÁLCULO DE EDIFICIOS DE GRAN CLARO
								
								p
									|-MAQUETAS Y MODELOS
							div
								
								p
									|-ADMINISTRACIÓN DE PROYECTOS Y OBRAS
								
								p
									|-PREFABRICACIÓN Y AUTOCONTRUCCIÓN
								
								p
									|-CONTROL DE CALIDAD EN LA CONTRUCCIÓN
								
								p
									|-DISEÑO DE EDIFICIOS INTELIGENTES
								
								p
									|-ARQUITECTURA Y CIUDAD
								
								p
									|-DISEÑO URBANO
								
								p
									|-FUNDAMENTOS DE FOTOGRAFÍA
								
								p
									|-FUNDAMENTOS DEL COLOR
								
								p
									|-MÉTODOS DE INVESTIGACIÓN
								
								p
									|-PROCESO ADMINISTRATIVO
								
								p
									|-CONTABILIDAD BÁSICA
								
								p
									|-HISTORIA DEL ARTE
								
								p
									|-FUNDAMENTOS DE INFORMÁTICA
							div
								
								p
									|-FORMULACIÓN Y EVALUACIÓN DE PROYECTOS DE INVENTOS
								
								p
									|-LIDERAZGO Y TRABAJO EN EQUIPO
								
								p
									|-INVESTIGACIÓN DE OPERACIONES
								
								p
									|-PSICOLOGÍA EMPRESARIAL
								
								p
									|-CALIDAD Y PRODUCTIVIDAD
								
								p
									|-ADMINISTRACIÓN DE LA PEQUEÑA Y MEDIANA EMPRESA
								
								p
									|-RÉGIMEN FISCAL EMPRESARIAL
								
								p
									|-DESARROLLO DE FRANQUICIA
								
								p
									|-ADMINISTRACIÓN DE LA CALIDAD
						div.dots
							div.dot
							div.dot
					img(src="resources/arquitectura/2.png")
				div.second.white
					img(src="resources/arquitectura/3.png")
					div.bloque.two
						p.titulo
							|BLOQUE FORMACIÓN
						div
							div#int
								
								p
									|-INSTITUCIONAL
								
								p
									|-EMPRENDEDORES
								
								p
									|-SEMINARIO DE INVESTIGACIÓN
								
								p
									|-PORTAFOLIO PROFESIONAL
								
								p
									|-EXPRESIÓN ESCRITA
								
								p
									|-EXPRESIÓN ORAL
								
								p
									|-ADMINISTRACIÓN DEL TIEMPO

		include footer.pug