doctype html
html
	head
		link(rel="stylesheet" href="css/movilStyles.css")
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,900" rel="stylesheet">
			
	body
		content#secondViewNav
			include headerV2.pug

		content#CD
			div.first
				div.second.video
					div
				div.second#info
					p 
						|Contenidos Digitales
					div 
						p 
							|Modalidad: Semestral
						br
						p 
							|Duración: Cuatro años
						br
						p 
							|Totalde créditos: 375
						br
						p 
							|RVOE:
			div.first
				div.second
					img(src="resources/ingenieria/1.jpg")
				div.second
					div.third#green
						div.circle
							img(src="resources/arquitectura/book.png")
						div
							p
								|Descarga el
							p.big
								|Folleto
					div.third#gray
						div.circle
							img(src="resources/arquitectura/money.png")
						div
							p
								|Licenciatura
							p.big
								|Costo
			div.first#last
				div.second.orange
					div.third
						div.bloque
							p.titulo
								|I SEMESTRE
							p
								|-FUNDAMENTOS DE LA PROGRAMACIÓN
							p
								|-MATEMÁTICA DISCRETA Y ESTADÍSTICA
							p
								|-INTRODUCCIÓN A LA PSICOLOGÍA
							p
								|-HISTORIA DE LOS JUEGOS
							p
								|-TALLER DE SISEÑO DE JUEGOS

						img(src="resources/monitos/1.svg")

					div.third
						div.bloque
							p.titulo
								|II SEMESTRE
							p
								|-FUNDAMENTOS DE COMPUTADORAS
							p
								|-ALGEBRA LINEAL Y GEOMÉTRICA
							p
								|-PROGRAMACIÓN EN LENGUAJES INTERPRETADOS
							p
								|-USABILIDAD Y ANÁLISIS DE JUEGOS
							p
								|-PROYECTO: INTRODUCCIÓN AL DESARROLLO DE INTERACTIVOS
							p
								|-OPTATIVA I

						img(src="resources/monitos/2.svg")

					div.third
						div.bloque
							p.titulo
								|V SEMESTRE
							p
								|-DISEÑO DE INTERFACES
							p
								|-MECÁNICAS DE JUEGO AVANZADAS
							p
								|-DISEÑO DE NIVELES
							p
								|-METODOLOGÍAS ÁGILES DE PRODICCIÓN
							p
								|-PROYECTO DESARROLLO DE APLICACIONES
							p
								|-INTERACTIVAS COMPLEJAS I

						img(src="resources/monitos/7.svg")

					div.third
						div.bloque
							p.titulo
								|VI SEMESTRE
							p
								|-FUNDAMENTOS DE MODELADO Y ANIMACIÓN DE PERSONAJES
							p
								|-PRODUCCIÓN DE MÚSICA Y AUDIO DIGITAL
							p
								|-PROGRAMACIÓN DE JUEGOS EN RED
							p
								|-TÉCNICAS DE INTELIGENCIA ARTIFICIAL PARA VIDEOJUEGOS
							p
								|-PROYECTO: DESARROLLO DE APLICACIONES INTERACTIVAS COMPLEJAS II
							p
								|-OPTATIVA II

						img(src="resources/monitos/9.svg")
					div.dots
						div.dot
						div.dot
				div.second.white
					div.third
						div.bloque
							p.titulo
								|III SEMESTRE
							p
								|-TECNOLOGÍA DE LA PROGRAMACIÓN
							p
								|-SISTEMAS OPERATIVOS Y REDES
							p
								|-PRINCIPIOS DE COMPOSICIÓN Y DISEÑO
							p
								|-DISEÑO DE VIDEOJUEGOS
							p
								|-PROYECTO: DESARROLLO DE APLICACIONES INTERACTIVAS I

						img(src="resources/monitos/3.svg")

					div.third
						div.bloque
							p.titulo
								|IV SEMESTRE
							p
								|-NARRATIVA AUDIOVISUAL
							p
								|-MECÁNICA
							p
								|-MODELADO DE ESCENARIOS
							p
								|-INFROMÁTICA GRÁFICA
							p
								|-PROYECTO: DESARROLLO DE APLICACIONES INTERACTIVAS II

						img(src="resources/monitos/5.svg")

					div.third
						div.bloque
							p.titulo
								|VII SEMESTRE
							p
								|-AMPLIACIÓN DE DISEÑO DE JUEGOS
							p
								|-HERRAMIENTAS DE DISEÑO Y PRODUCCIÓN
							p
								|-PRÁCTICAS EXTERNAS I
							p
								|-SEMINARIO DE TESIS I
							p
								|-OPTATIVA DISCIPLINARIA I

						img(src="resources/monitos/11.svg")

					div.third
						div.bloque
							p.titulo
								|VIII SEMESTRE
							p
								|-DISTRICBUCIÓN DIGITAL Y MARKETING DE PRODUCTOS DIGITALES
							p
								|-MODELOS DE NEGOCIOS Y ESCENARIOS DE MONETIZACIÓN EN PRODUCTOS INTERACTIVOS
							p
								|-PRÁCTICAS EXTERNAS II
							p
								|-SEMINARIO TESIS II
							p
								|-OPTATIVA DISCIPLINARIA II

						img(src="resources/monitos/12.svg")
					div.dots
						div.dot.or
						div.dot.or
		include footer.pug