doctype html
html
	head
		link(rel="stylesheet" href="css/movilStyles.css")
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,900" rel="stylesheet">
			
	body
		content#secondViewNav
			include headerV2.pug

		content#Derecho
			div.first
				div.second.video
					div
				div.second#info
					p 
						|Derecho
					div 
						p 
							|Modalidad: Semestral
						br
						p 
							|Duración: Cuatro años
						br
						p 
							|Totalde créditos: 370
						br
						p 
							|RVOE: 2007451
			div.first
				div.second
					img(src="resources/derecho/1.jpg")
				div.second
					div.third#green
						div.circle
							img(src="resources/arquitectura/book.png")
						div
							p
								|Descarga el
							p.big
								|Folleto
					div.third#gray
						div.circle
							img(src="resources/arquitectura/money.png")
						div
							p
								|Licenciatura
							p.big
								|Costo
			div.first
				div.second.white
					img(src="resources/arquitectura/1.png")
					div.bloque.one
						p.titulo
							|BLOQUE BÁSICO
						div.ext
							div
								p
									|-FUNDAMENTEO DE DERECHO
								p
									|-DERECHO ROMANO
								p
									|-MÉTODOS DE INVESTIGACIÓN
								p
									|-TEORÍA GENERAL DEL ESTADO
								p
									|-HISTORIA DEL DERECHO MEXICANO
								p
									|-DERECHO CONSTITUCIONAL
								p
									|-FUNDAMENTOS DE SOCIOLOGÍA
								p
									|-GARANTÍAS INDIVIDUALES
								p
									|-DERECHO MERCANTIL
								p
									|-DERECHO ECONÓMICO
								p
									|-CIENCIAS POLÍTICAS
								p
									|-DERECHO ADMINISTRATIVO
								p
									|-ESTRUCTURA SOCIOECONÍMICA DE MÉXICO
							div
								p
									|-DERECHO CIVIL I
								p
									|-DERECHO LABORAL
								p
									|-TÍTULOS Y OPERACIONES DE CRÉDITO
								p
									|-DERECHOS HUMANOS
								p
									|-LEGISLACIÓN ESTATAL Y MUNICIPAL
								p
									|-TEORÍA DEL DELITO
								p
									|-DERECHO CIVIL II
								p
									|-DERECHO COLECTIVO LABORAL
								p
									|-TEORÍA GENERAL DEL PROCESO
								p
									|-DELITOS EN PARTICULAR
								p
									|-DERECHO CIVIL III
								p
									|-DERECHO PROCESAL LABORAL
								p
									|-DERECHO PROCESAL MERCANTIL
							div
								p
									|-DERECHO PROCESAL PENAL
								p
									|-DERECHO CIVIL IV
								p
									|-AMPARO
								p
									|-DERECHO PROCESAL ADMINISTRATIVO
								p
									|-DERECHO PORCESAL CIVIL
								p
									|-PRÁCTICAS DE AMPARO
								p
									|-FILOSOFÍA JURÍDICA Y ÉTICA PROFESIONAL
								p
									|-DERECHO NOTORIAL Y REGISTRAL
								p
									|-QUIEBRAS Y SUSPENSIONES
								p
									|-DERECHO CORPOARTIVO
								p
									|- DERECHO FISCAL
								p
									|- DERECHO INTERNACIONAL
						div.dots
							div.dot
							div.dot
				div.second.blue
					div.bloque.one
						P.titulo
							|BLOQUE ESPECÍFICO
						div.ext
							div
								p
									|-SEGURIDAD SOCIAL
								p
									|-DERECHO MARÍTIMO
								p
									|-DERECHO AGRARIO
								p
									|-CONTRATOS MERCANTILES
								p
									|-DERECHO ADUANERO
								p
									|-MEDICINA FORENSE
								p
									|-CRIMINOLOGÍA
								p
									|-RÉGIMEN FISCAL EMPRESARIAL
								p
									|-DERECHO TURÍSICO
								p
									|-DERECHO ECOLÓGICO
								p
									|-DERECHO ABRITAL
								p
									|-DERECHOEN MEDIOS DE COMUNICACIÓN
								p
									|-DERECHO BANCARIO Y BURSÁTIL
							div
								p
									|-COMERCIO EXTERIOR
								p
									|-FINANZAS PÚBLICAS
								p
									|-FUNDAMENTOS DE INFORMÁTICA
								p
									|-PROCESO ADMINISTRATIVO
								p
									|-ADMINISTRACIÓN DE LA PEQUEÑA Y MEDIANA EMPRESA
								p
									|-LIDERAZGO Y TRABAJO EN EQUIPO
								p
									|-GLOBALIZACIÓN Y DESARROLLO EMPRESARIAL
								p
									|-DESARROLLO DE FRANQUICIAS
								p
									|-CALIDAD Y PRODUCTIVIDAD
								p
									|-ADMINISTRACIÓN DE LA CALIDAD
						div.dots
							div.dot
							div.dot
					img(src="resources/arquitectura/2.png")
				div.second.white
					img(src="resources/arquitectura/3.png")
					div.bloque.two
						p.titulo
							|BLOQUE FORMACIÓN
						div
							div#int
								p
									|-EMPRENDEDORES
								p
									|-SEMINARIO DE INVESTIGACIÓN
								p
									|-PORTAFOLIO PROFESIONAL
								p
									|-EXPRESIÓN ESCRITA
								p
									|-EXPRESIÓN ORAL
								p
									|-ADMINISTRACIÓN DEL TIEMPO
								p
									|-DESARROLLO DE HABILIDADES DE PENSAMIENTO
								p
									|-CREATIVIDAD Y LIDERAZGO

		include footer.pug