doctype html
html
	head
		link(rel="stylesheet" href="css/movilStyles.css")
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,900" rel="stylesheet">
			
	body
		content#secondView
			div
			nav.firstNavS
				div.nav-leftS
					div.burger
					a(href='index-movil.html')
						img(src='resources/nav/culogo_round.png').logo
				div.nav-rightS
					div.green-button
						div 
							a(href='')|¡REGISTRATE!
			nav.secondNav
				div
					ul
						li
							a(href="#")|Nosotros
							ul.children
								li
									a(href="#")|Misión, Visión, Valores
								li
									a(href="#")|Filosofía
								li
									a(href="#")|Directorio
						li
							a(href="#")|Oferta Académica
							ul.children
								li
									a(href="prepaUC-movil.html")|Prepa UC
								li
									a(href="#")|Licenciaturas +
								li
									a(href="#")|Maestrías y Posgrados
									ul.children
										li
											a(href="#")|-Especialidad en Ortodoncia
										li
											a(href="#")|-Ortopediamaxilar
										li
											a(href="#")|-Especialidad en bioética
										li
											a(href="#")|-Maestría en Derecho Civil
								li 
									a(href="#")|Nivel superior	
									ul.children
										li 
											a(href="#").titulo|Salud
										li 
											a(href="#")|-Fisioterapia
										li 
											a(href="Odontologia.html")|-Odontología
										li 
											a(href="#")|-Médico Cirujano
										li 
											a(href="#")|-Psicología Clínica
										li 
											a(href="#")|-Nutrición y Ciencias de los Alimentos
										li
											a(href="#")|-Ciencias de la Actividad y del Deporte

									ul.children
										li
											a(href="#").titulo|Sociales
										li
											a(href="Derecho.html")|-Derecho
										li
											a(href="#")|-Turismo
										li
											a(href="#")|-Comercio Internacional
										li
											a(href="#")|-Administración de empresas
										li
											a(href="#")|-Licenciatura Ejecutiva en Derecho
										li
											a(href="#")|-Licenciatura Ejecutiva en Comercio Internacional
										li
											a(href="#")|-Licenciatura Ejecutiva en Administración de Empresas
									ul.children
										li
											a(href="#").titulo|Humanidades
										li
											a(href="#")|-Pedagogía
										li
											a(href="Arquitectura.html")|-Arquitectura
										li
											a(href="DisenioGrafico")|-Diseño Gráfico
										li
											a(href="#")|-Ciencias de la Comunicación
									ul.children
										li
											a(href="#").titulo|Ingeniería
										li
											a(href="ContenidosDigitales.html")|-Contenidos Digitales Interactivos
						li
							a(href="#")|Intégrate
							ul.children
								li
									a(href="#")|Ingreso a Licenciatura
								li
									a(href="#")|Ingreso a Bachillerato
								li
									a(href="#")|Provenientes de Otras Univesrdiades
								li
									a(href="#")|Ingreso a Licenciatura para Alumnos Extranjeros	
						li
							a(href="#")|Prestigio UC
							ul.children
								li
									a(href="https://www.ucslp.edu.mx/prestigio/prestigioAlumnos")|Alumnos
								li
									a(href="https://www.ucslp.edu.mx/prestigio/prestigioProfesores")|Docentes
								li
									a(href="https://www.ucslp.edu.mx/prestigio/prestigioExAlumnos")|Ex Alumnos
						li
							a(href="https://www.ucslp.edu.mx/beneficios")|Beneficios UC
						li
							a(href="https://www.ucslp.edu.mx/internacional")|Internacional
							ul.children
								li
									a(href="#")|Intercambio Estudiantil
								li
									a(href="#")|Estudiantes Visitantes
								li
									a(href="#")|Profesores Visitantes
						li
							a(href="#").final|Visitanos

		content#Derecho
			div.first
				div.second.video
					div
				div.second#info
					p 
						|Derecho
					div 
						p 
							|Modalidad: Semestral
						br
						p 
							|Duración: Cuatro años
						br
						p 
							|Totalde créditos: 370
						br
						p 
							|RVOE: 2007451
			div.first
				div.second
					img(src="resources/derecho/1.jpg")
				div.second
					div.third#green
						div.circle
							img(src="resources/arquitectura/book.png")
						div
							p
								|Descarga el
							p.big
								|Folleto
					div.third#gray
						div.circle
							img(src="resources/arquitectura/money.png")
						div
							p
								|Licenciatura
							p.big
								|Costo
			div.first
				div.second.white
					img(src="resources/arquitectura/1.png")
					div.bloque.one
						p.titulo
							|BLOQUE BÁSICO
						div.ext
							div
								p
									|-FUNDAMENTEO DE DERECHO
								p
									|-DERECHO ROMANO
								p
									|-MÉTODOS DE INVESTIGACIÓN
								p
									|-TEORÍA GENERAL DEL ESTADO
								p
									|-HISTORIA DEL DERECHO MEXICANO
								p
									|-DERECHO CONSTITUCIONAL
								p
									|-FUNDAMENTOS DE SOCIOLOGÍA
								p
									|-GARANTÍAS INDIVIDUALES
								p
									|-DERECHO MERCANTIL
								p
									|-DERECHO ECONÓMICO
								p
									|-CIENCIAS POLÍTICAS
								p
									|-DERECHO ADMINISTRATIVO
								p
									|-ESTRUCTURA SOCIOECONÍMICA DE MÉXICO
							div
								p
									|-DERECHO CIVIL I
								p
									|-DERECHO LABORAL
								p
									|-TÍTULOS Y OPERACIONES DE CRÉDITO
								p
									|-DERECHOS HUMANOS
								p
									|-LEGISLACIÓN ESTATAL Y MUNICIPAL
								p
									|-TEORÍA DEL DELITO
								p
									|-DERECHO CIVIL II
								p
									|-DERECHO COLECTIVO LABORAL
								p
									|-TEORÍA GENERAL DEL PROCESO
								p
									|-DELITOS EN PARTICULAR
								p
									|-DERECHO CIVIL III
								p
									|-DERECHO PROCESAL LABORAL
								p
									|-DERECHO PROCESAL MERCANTIL
							div
								p
									|-DERECHO PROCESAL PENAL
								p
									|-DERECHO CIVIL IV
								p
									|-AMPARO
								p
									|-DERECHO PROCESAL ADMINISTRATIVO
								p
									|-DERECHO PORCESAL CIVIL
								p
									|-PRÁCTICAS DE AMPARO
								p
									|-FILOSOFÍA JURÍDICA Y ÉTICA PROFESIONAL
								p
									|-DERECHO NOTORIAL Y REGISTRAL
								p
									|-QUIEBRAS Y SUSPENSIONES
								p
									|-DERECHO CORPOARTIVO
								p
									|- DERECHO FISCAL
								p
									|- DERECHO INTERNACIONAL
						div.dots
							div.dot
							div.dot
				div.second.blue
					div.bloque.one
						P.titulo
							|BLOQUE ESPECÍFICO
						div.ext
							div
								p
									|-SEGURIDAD SOCIAL
								p
									|-DERECHO MARÍTIMO
								p
									|-DERECHO AGRARIO
								p
									|-CONTRATOS MERCANTILES
								p
									|-DERECHO ADUANERO
								p
									|-MEDICINA FORENSE
								p
									|-CRIMINOLOGÍA
								p
									|-RÉGIMEN FISCAL EMPRESARIAL
								p
									|-DERECHO TURÍSICO
								p
									|-DERECHO ECOLÓGICO
								p
									|-DERECHO ABRITAL
								p
									|-DERECHOEN MEDIOS DE COMUNICACIÓN
								p
									|-DERECHO BANCARIO Y BURSÁTIL
							div
								p
									|-COMERCIO EXTERIOR
								p
									|-FINANZAS PÚBLICAS
								p
									|-FUNDAMENTOS DE INFORMÁTICA
								p
									|-PROCESO ADMINISTRATIVO
								p
									|-ADMINISTRACIÓN DE LA PEQUEÑA Y MEDIANA EMPRESA
								p
									|-LIDERAZGO Y TRABAJO EN EQUIPO
								p
									|-GLOBALIZACIÓN Y DESARROLLO EMPRESARIAL
								p
									|-DESARROLLO DE FRANQUICIAS
								p
									|-CALIDAD Y PRODUCTIVIDAD
								p
									|-ADMINISTRACIÓN DE LA CALIDAD
						div.dots
							div.dot
							div.dot
					img(src="resources/arquitectura/2.png")
				div.second.white
					img(src="resources/arquitectura/3.png")
					div.bloque.two
						p.titulo
							|BLOQUE FORMACIÓN
						div
							div#int
								p
									|-EMPRENDEDORES
								p
									|-SEMINARIO DE INVESTIGACIÓN
								p
									|-PORTAFOLIO PROFESIONAL
								p
									|-EXPRESIÓN ESCRITA
								p
									|-EXPRESIÓN ORAL
								p
									|-ADMINISTRACIÓN DEL TIEMPO
								p
									|-DESARROLLO DE HABILIDADES DE PENSAMIENTO
								p
									|-CREATIVIDAD Y LIDERAZGO

		footer.first-footer
			div 
				p Contacto
		footer.second-footer
			div.foot
				img(src='resources/nav/culogo.png')
			div.foot2
				div
					p
						|Dirección Av. Dr.Salvador Nava Martínez No 329
					p
						|Col. Viveros. San Luis Potosí, México.
					p
						|C.P. 78290
				div
					p
						|Salida Sin Costo: 01 800 00 UCSLP (82757)
					p
						|Teléfonos: (444) 500.45.00 / (400) 817.65.30
					p
						|WhatsApp: (444) 408.30.27
					p
						|Email: contacto@ucslp.net	
			div.foot3
				a(href="https://www.facebook.com/ucslp/")
				img(src='resources/nav/facebook-pin.png')
			
				a(href="https://twitter.com/CuauhtemocSLP?lang=es")
				img(src='resources/nav/twitter-pin.png')
			
				a(href="https://www.instagram.com/guerreros_ucslp/")
				img(src='resources/nav/instagram-pin.png')
			div.foot4
				div
					p Contacto	




	  
	script
		|	var botonM = false;
		|	$('.burger').click(function(){
		|		if (botonM == false) {
		|			$('.secondNav').animate({
		|				left: '0'
		|			},'slow');
		|			botonM = true;
		|		}else if(botonM == true){
		|			$('.secondNav').animate({
		|				left: '-110%'
		|			},'slow');
		|			botonM = false;
		|		}
		|	});
		| 
		|$(document).ready(function(){
		|  $(window).scroll(function() {
		|    if ($(document).scrollTop() > 5 ) {
		|      $("#firstView").css("z-index", "-1");
		|		$("#secondView").css("z-index", "1");
		|    } else if ($(document).scrollTop() < 5){
		|      $("#secondView").css("z-index", "-1");
		|      $("#firstView").css("z-index", "2");
		|    }
		|  });
		|	$('.first-footer').click(function(){
		|		$(".second-footer").css("display", "flex");
		|		$(".first-footer").css("display", "none");
		|	});
		|	$('.second-footer').click(function(){
		|		$(".first-footer").css("display", "flex");
		|		$(".second-footer").css("display", "none");
		|	});
		|});
