doctype html
html
	head
		link(rel="stylesheet" href="css/movilStyles.css")
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,900" rel="stylesheet">
			
	body
		content#secondViewNav
			include headerV2.pug

		content#DG
			div.first
				div.second.video
					div
				div.second#info
					p 
						|Diseño Gráfico
					div 
						p 
							|Modalidad: Semestral
						br
						p 
							|Duración: Cuatro años
						br
						p 
							|Totalde créditos: 352
						br
						p 
							|RVOE: 2007453
			div.first
				div.second
					img(src="resources/humanidades/1.jpg")
				div.second
					div.third#green
						div.circle
							img(src="resources/arquitectura/book.png")
						div
							p
								|Descarga el
							p.big
								|Folleto
					div.third#gray
						div.circle
							img(src="resources/arquitectura/money.png")
						div
							p
								|Licenciatura
							p.big
								|Costo
			div.first#last
				div.second.orange
					div.third
						div.bloque
							p.titulo
								|I SEMESTRE
							p
								|-FUNDAMENTOS DEL DISEÑO I
							p
								|-ÉTICA PROFESIONAL
							p
								|-DIBUJO ARTÍSTICO
							p
								|-GEOMETRÍA DESCRIPTIVA
							p
								|-DISEÑO VECTORIAL
							p
								|-COMUNICACIÓN
							p
								|-REDACCIÓN								
						img(src="resources/monitos/1.svg")

					div.third
						div.bloque
							p.titulo
								|II SEMESTRE
							p
								|-FUNDAMENTOS DEL DISEÑO II
							p
								|-TEORÍA DEL COLOR
							p
								|-SEMIÓTICA I
							p
								|-DIBUJO TÉCNICO
							p
								|-FOTO I
							p
								|-TRATAMIENTO DE IMAGEN DIGITAL

						img(src="resources/monitos/2.svg")

					div.third
						div.bloque
							p.titulo
								|V SEMESTRE
							p
								|-DISEÑO DEL CARTEL
							p
								|-ESTRATEGIAS DE MERCADOTECNIA
							p
								|-ADMINISTRACIÓN DEL DISEÑO
							p
								|-SERIGRAFÍA
							p
								|-PROGRAMACIÓN AVANZADA WEB
							p
								|-DISEÑO EDITORIAL DIGITAL
							p
								|-PUBLICIDAD

						img(src="resources/monitos/7.svg")

					div.third
						div.bloque
							p.titulo
								|VI SEMESTRE
							p
								|-ICONOGRAFÍA Y SEÑALÉTICA
							p
								|-DISEÑO DE MARCA
							p
								|-DISEÑO DE PUNTO DE VENTA
							p
								|-PUBLICIDAD DIGITAL
							p
								|-CONTABILIDAD APLICADA AL DISEÑO
							p
								|-PREPENSA DIGITAL
							p
								|-ANIMACIÓN DIGITAL 2D

						img(src="resources/monitos/9.svg")
					div.dots
						div.dot
						div.dot
				div.second.white
					div.third
						div.bloque
							p.titulo
								|III SEMESTRE
							p
								|-DISEÑO TIPOGRÁFICO
							p
								|-HISTORIAS DEL ARTE
							p
								|-SEMIÓTICA I
							p
								|-MERCADOTECNIA
							p
								|-TÉCNICAS DE REPRESENTACIÓN
							p
								|-FOTO II
							p
								|-ILUSTRACIÓN DIGITAL

						img(src="resources/monitos/3.svg")

					div.third
						div.bloque
							p.titulo
								|IV SEMESTRE
							p
								|-DISEÑO EDITORIAL
							p
								|-HISTORIA DEL DISEÑO
							p
								|-PROCESOS CREATIVOS DEL DISEÑO
							p
								|-ANÁLISIS DEL CONSUMIDOR
							p
								|-ILUSTRACIÓN
							p
								|-SISTEMAS DE IMPRESIÓN
							p
								|-DISEÑO WEB

						img(src="resources/monitos/5.svg")

					div.third
						div.bloque
							p.titulo
								|VII SEMESTRE
							p
								|-ENVASE Y EMBALAJE
							p
								|-MODELADO 3D
							p
								|-PRODUCCIÓN DE MEDIOS DIGITALES
							p
								|-MARCO EMPRESARIAL
							p
								|-ERGONOMÍA
							p
								|-AUDIOVISUAL

						img(src="resources/monitos/11.svg")

					div.third
						div.bloque
							p.titulo
								|VIII SEMESTRE
							p
								|-INFOGRAFÍA
							p
								|-DISEÑO DE IMAGEN PÚBLICA
							p
								|-DESARROLLO DE NUEVOS PRODUCTOS
							p
								|-ANIMACIÓN 3D
							p
								|-PROCESOS DE INVESTIGACIÓN

						img(src="resources/monitos/12.svg")
					div.dots
						div.dot.or
						div.dot.or
		include footer.pug