doctype html
html
	head
		link(rel="stylesheet" href="resources/style.css")
		link(rel="stylesheet" href="css/movilStyles.css")
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,900" rel="stylesheet">
			
	body
		content#firstView

			include headerV1.pug

			div(onClick='playPause()').index-play
				img(src='resources/index/Untitled-4.png').play
			p.d1997

				|DESDE 1977 FORMANDO PROFESIONISTAS
				br
				|CON ALTO DESEMPEÑO ACADÉMICO
		div.margin

		content#secondView
			content#secondViewNav
				include headerV2.pug

			div.boxes
				div.box
					img(src='resources/index/prepa-movil.jpg')
					p Prepa UC	
				div.box
					img(src='resources/index/lic-movil.jpg')
					p Licenciaturas	
				div.box
					img(src='resources/index/posgrado-movil.jpg')
					p Posgrados y Maestrías
				div.box
					img(src='resources/index/paseo-movil.jpg')
					p Paseo Virtual		
				div.box
					div.box
						img(src='resources/index/Blue.png')
						p Plataforma UC	
					div.box
						img(src='resources/index/GameCU.png')
				div.box
					img(src='resources/index/UCSLP_CampañaVerano_bannerweb.png')
				
		include footer.pug

script
	|$(window).scroll(function() {
	|    if ($(document).scrollTop() > 5 ) {
	|      $("#firstView").css("z-index", "-1");
	|		$("#secondView").css("z-index", "1");
	|    } else if ($(document).scrollTop() < 5){
	|      $("#secondView").css("z-index", "-1");
	|      $("#firstView").css("z-index", "2");
	|    }
	|  });

					
		
			
		

