doctype html
html
	head
		link(rel="stylesheet" href="resources/style.css")
		link(rel="stylesheet" href="css/movilStyles.css")
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,900" rel="stylesheet">
			
	body

		content#n
			div
			nav.firstNavS
				div.nav-leftS
					div.burger
					a(href='index-movil.html')
						img(src='resources/nav/culogo_round.png').logo
				div.nav-rightS
					div.green-button
						div 
							a(href='')|¡REGISTRATE!
			nav.secondNavNav
				div
					ul
						li
							a(href="nosotros-movil.html#mision")|Nosotros
							ul.children
								li
									a(href="nosotros-movil.html#mision")|Misión, Visión, Valores
								li
									a(href="nosotros-movil.html#filosofia")|Filosofía
								li
									a(href="nosotros-movil.html#directorio")|Directorio
						li
							a(href="#")|Oferta Académica
							ul.children
								li
									a(href="prepaUC-movil.html")|Prepa UC
								li
									a(href="#")|Licenciaturas +
								li
									a(href="#")|Maestrías y Posgrados
						li
							a(href="#")|Intégrate
							ul.children
								li
									a(href="#")|Ingreso a Licenciatura
								li
									a(href="#")|Ingreso a Bachillerato
								li
									a(href="#")|Provenientes de Otras Univesrdiades
								li
									a(href="#")|Ingreso a Licenciatura para Alumnos Extranjeros	
						li
							a(href="#")|Prestigio UC
							ul.children
								li
									a(href="https://www.ucslp.edu.mx/prestigio/prestigioAlumnos")|Alumnos
								li
									a(href="https://www.ucslp.edu.mx/prestigio/prestigioProfesores")|Docentes
								li
									a(href="https://www.ucslp.edu.mx/prestigio/prestigioExAlumnos")|Ex Alumnos
						li
							a(href="https://www.ucslp.edu.mx/beneficios")|Beneficios UC
						li
							a(href="https://www.ucslp.edu.mx/internacional")|Internacional
							ul.children
								li
									a(href="#")|Intercambio Estudiantil
								li
									a(href="#")|Estudiantes Visitantes
								li
									a(href="#")|Profesores Visitantes
						li
							a(href="#").final|Visitanos
			
		#nosotros
			#mision.display
				video(autoplay loop)
					source(src="resources/nosotros/mision.mp4" type="video/mp4")
				div 
					p|Misión, Visión y Valores
			#filosofia.display
				video(autoplay loop)
					source(src="resources/nosotros/filosofia.mp4" type="video/mp4")
				div 
					p|Filosofía
			#directorio.display
				div.carrusel
					div.next
						div
							h4
								|Rectoría
							p
								|- Lic. Francisco Martinez Becker
							p
								|Rector
							br
							p
								|- Miriam Monreal Velázquez
							p
								|Asistente / miriam@ucslp.net
							br
							p
								|- Alejandra González Herrejón
							p
								|Asistente / alejandraglz@ucslp.net
							br
						div
							h4
								|Control Escolar
							p
								|- Lic. Claudia Reyna Medina
							p
								|Directora / claudia@ucslp.net
							br
							p
								|- Lic. Marpia Dolores Monreal
							p
								|Coordinadora / miriam@ucslp.net 
							br
							p
								|- Angélica Rojas Muñoz
							p
								|Asistente / angelica@ucslp.net 	 
					div.next
						div
							h4
								|Control Escolar
							p
								|- María Aurelia Muñoz Delgadillo
							p
								|Asistente / marule@ucslp.net	
							br
							p
								|- Yeimi Erika Alvarado
							p
								|Asistente / yeimi@ucslp.net
							br
							p
								|- Yosonia Enedina Ochoa
							p
								|Asistente / yosonia@ucslp.net
							br
						div
							p
								|- Ana García Castro
							p
								|Asistente / anagarcia@ucslp.net
							br
							h4
								|Contabilidad
							p
								|- Lic. Roberto Carlos Olvera Araiza
							p
								|roberto@ucslp.net
					div.dots
						div.dot
						div.dot
				div.carrusel2
					div.next
						div
							h3
								|Coordinaciones
							br
							h4
								|Arquitectura
							p
								|- Mtra. Ana Isabel Merino Ávila
							p
								|Coordinador
							p
								|anamerino@ucslp.net
							br
							h4
								|Económico Administrativo
							p
								|- Lic. Briseida Castañeda Hernández
							p
								|Coordinador
							p
								|briseida@ucslp.net
						div
							h4
								|Ciencias de la Comunación
							p
								|- Lic. María Oliva García Ibarra
							p
								|Coordinador
							p
								|olivia@ucslp.net
							br
							h4
								|Nutrición y Ciencias de los Alimentos
							p
								|- Lic. Cecilia A. Cabrera Pérez
							p
								|Coordinador
							p
								|ceciliabrera@ucslp.net
					div.next
						div
							h3
								|Coordinaciones
							br
							h4
								|Derecho
							p
								|- Lic. José Luis Mtz Escaname
							p
								|Coordinador
							p
								|escaname@ucslp.net
							br
							h4
								|Psicología Clínica
							p
								|- L.P. Alma Elizabeth Marín Ortega
							p
								|Coordinador
							p
								|elizabeth@ucslp.net
						div
							h4
								|Coordinación Académica
							p
								|- Dr. Gerardo Eguia Pastrana
							p
								|Coordinador
							p
								|gerardoeguia@ucslp.net
					
							br
							
					div.next
						div
							h3
								|Facultad de Odontología
							br
							p
								|- Dr. Francisco Javier Tobías Azúa
							p
								|Director
							p
								|franciscotobias@ucslp.net
							br
							h4
								|Coordinación Académica
							p
								|- Dr. Gerardo Eguia Pastrana
							p
								|Coordinador
							p
								|gerardoeguia@ucslp.net
						
						div
							br
							br
							p
								|- Isabel Cristina Macías Verduzco
							p
								|Asistente
							p
								|isabel@ucslp.net
							br
							h4
								|Clínicas Odontológicas
							p
								|- Dr. Andrés Mares Lobo
							p
								|Coordinador
							p
								|mares@ucslp.net		
					div.next
						div
							h3
								|Facultad de Odontología
							br
							h4
								|Especialidad en Ortodoncia y Ortopedia Maxilar
							p
								|- Dra. S. Paulina Martínez Contreras
							p
								|Coordinador
							p
								|paulina@ucslp.net
							br
							h4
								|Escuela de Medicina
							p
								|- Dr. Rosnedo Silva Ruíz
							p
								|Director
							p
								|medicina@ucslp.net
						div
							br
							br
							br
							br
							br
							p
								|- Dr. Carlos Agustín Rodríguez Paz
							p
								|Coordinador
							p
								|rodriguezpazca@ucslp.net
					div.dots
						div.dot
						div.dot
						div.dot
						div.dot
				div.carrusel3
					div.next
						div
							h3
								|Promoción
							br
							p
								|- Maribel García Galván
							p
								|maribel@ucslp.net
							br
							p
								|- LCC. Christian Sánchez Ruíz
							p
								|christian@ucslp.net
						div
							p
								|- LIC. Monserrat Calderon Beltran
							p
								|monserratcalderon@ucslp.net
							br
							p
								|- Eric E. Bravo Trejo
							p
								|eric@ucslp.net
							br
					div.next
						div
							h4
								|Biblioteca
							
							p
								|- L.B. Oscar José Montero
							p
								|oscar@ucslp.net
							br
							p
								|- L.B. Yashira Arlette Ortega Salas
							p
								|arlette@ucslp.net
						div
							h4
								|Centro de Computo
							
							p
								|- Alejandro Gutiérrez Soberón
							p
								|alejandro@ucslp.net
							br
							p
								|- Martha Olivia Muñoz Delgadillo
							p
								|martha@ucslp.net
							br
					div.next
						div
							h4
								|Vinculación
							p
								|-MBA Gissel Marin Navarro
							p
								|vinculacion@ucslp.net
						div
							h4
								|Eventos Institucionales
							p
								|- Lic. Augusto Rodríguez Hernández
							p
								|augusto@ucslp.net
					div.dots
						div.dot
						div.dot
						div.dot
		include footer.pug					