doctype html
html
	head
		link(rel="stylesheet" href="css/movilStyles.css")
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,900" rel="stylesheet">
			
	body
		content#secondView
			div
			nav.firstNavS
				div.nav-leftS
					div.burger
					a(href='index-movil.html')
						img(src='resources/nav/culogo_round.png').logo
				div.nav-rightS
					div.green-button
						div 
							a(href='')|¡REGISTRATE!
			nav.secondNav
				div
					ul
						li
							a(href="#")|Nosotros
							ul.children
								li
									a(href="#")|Misión, Visión, Valores
								li
									a(href="#")|Filosofía
								li
									a(href="#")|Directorio
						li
							a(href="#")|Oferta Académica
							ul.children
								li
									a(href="prepaUC-movil.html")|Prepa UC
								li
									a(href="#")|Licenciaturas +
								li
									a(href="#")|Maestrías y Posgrados
									ul.children
										li
											a(href="#")|-Especialidad en Ortodoncia
										li
											a(href="#")|-Ortopediamaxilar
										li
											a(href="#")|-Especialidad en bioética
										li
											a(href="#")|-Maestría en Derecho Civil
								li 
									a(href="#")|Nivel superior	
									ul.children
										li 
											a(href="#").titulo|Salud
										li 
											a(href="#")|-Fisioterapia
										li 
											a(href="Odontologia.html")|-Odontología
										li 
											a(href="#")|-Médico Cirujano
										li 
											a(href="#")|-Psicología Clínica
										li 
											a(href="#")|-Nutrición y Ciencias de los Alimentos
										li
											a(href="#")|-Ciencias de la Actividad y del Deporte

									ul.children
										li
											a(href="#").titulo|Sociales
										li
											a(href="Derecho.html")|-Derecho
										li
											a(href="#")|-Turismo
										li
											a(href="#")|-Comercio Internacional
										li
											a(href="#")|-Administración de empresas
										li
											a(href="#")|-Licenciatura Ejecutiva en Derecho
										li
											a(href="#")|-Licenciatura Ejecutiva en Comercio Internacional
										li
											a(href="#")|-Licenciatura Ejecutiva en Administración de Empresas
									ul.children
										li
											a(href="#").titulo|Humanidades
										li
											a(href="#")|-Pedagogía
										li
											a(href="Arquitectura.html")|-Arquitectura
										li
											a(href="DisenioGrafico")|-Diseño Gráfico
										li
											a(href="#")|-Ciencias de la Comunicación
									ul.children
										li
											a(href="#").titulo|Ingeniería
										li
											a(href="ContenidosDigitales.html")|-Contenidos Digitales Interactivos
						li
							a(href="#")|Intégrate
							ul.children
								li
									a(href="#")|Ingreso a Licenciatura
								li
									a(href="#")|Ingreso a Bachillerato
								li
									a(href="#")|Provenientes de Otras Univesrdiades
								li
									a(href="#")|Ingreso a Licenciatura para Alumnos Extranjeros	
						li
							a(href="#")|Prestigio UC
							ul.children
								li
									a(href="https://www.ucslp.edu.mx/prestigio/prestigioAlumnos")|Alumnos
								li
									a(href="https://www.ucslp.edu.mx/prestigio/prestigioProfesores")|Docentes
								li
									a(href="https://www.ucslp.edu.mx/prestigio/prestigioExAlumnos")|Ex Alumnos
						li
							a(href="https://www.ucslp.edu.mx/beneficios")|Beneficios UC
						li
							a(href="https://www.ucslp.edu.mx/internacional")|Internacional
							ul.children
								li
									a(href="#")|Intercambio Estudiantil
								li
									a(href="#")|Estudiantes Visitantes
								li
									a(href="#")|Profesores Visitantes
						li
							a(href="#").final|Visitanos

		content#Odont
			div.first
				div.second#video

				div.second#info
					p 
						|Odontología
					div 
						p 
							|Modalidad: Semestral
						br
						p 
							|Duración: Cuatro años
						br
						p 
							|Totalde créditos: 536
						br
						p 
							|RVOE: 2007450
			div.first
				div.second
					img(src="resources/odontologia/1.jpg")
				div.second
					div.third#green
						div.circle
							img(src="resources/arquitectura/book.png")
						div
							p
								|Descarga el
							p.big
								|Folleto
					div.third#gray
						div.circle
							img(src="resources/arquitectura/money.png")
						div
							p
								|Licenciatura
							p.big
								|Costo
			div.first#last
				div.second.orange
					div.third
						div.bloque
							p.titulo
								|I SEMESTRE
							p
								|-ANATOMÍA HUMANA
							p
								|-HISTOLOGÍA Y EMBRIOLOGÍA
							p
								|-BIOQUÍMICA CLÍNICA
							p
								|-MATERIALES DENTALES I
							p
								|-ANATOMÍA DENTAL
							p
								|-ODONTOLOGÍA PREVENTIVA I
							p
								|-TÉCNICAS DE INVESTIGACIÓN
							p
								|-COMUNICACIÓN ORAL Y ESCRITA

						img(src="resources/monitos/1.svg")

					div.third
						div.bloque
							p.titulo
								|II SEMESTRE
							p
								|-FISIOLOGÍA HUMANA
							p
								|-PATOLOGÍA HUMANA
							p
								|-MICROBIOLOGÍA
							p
								|-MATERIALES DENTALES II
							p
								|-INMUNOLOGÍA
							p
								|-ODONTOLOGÍA PREVENTIVA II
							p
								|-ANATOMÍA TOPOGRÁFICA DE CABEZA Y CUELLO
							p
								|-INTRODUCCIÓN A LA INFORMÁTICA

						img(src="resources/monitos/2.svg")

					div.third
						div.bloque
							p.titulo
								|V SEMESTRE
							p
								|-URGENCIAS MÉDICO-ODONTOLÓGICAS
							p
								|-INTRODUCCIÓN A LOS PROCEDIMIENTOS QUIRÚRGICOS
							p
								|-PERIODONCIA II
							p
								|-OPERATORIA DENTAL III
							p
								|-CLÍNICA PROTÉSTICA I
							p
								|-PROSTODONCIA I
							p
								|-ENDODONCIA I
							p
								|-ODONTOLOGÍA GRIÁTRICA

						img(src="resources/monitos/7.svg")

					div.third
						div.bloque
							p.titulo
								|VI SEMESTRE
							p
								|-SALUD PÚBLICA Y BIOESTADÍSTICA
							p
								|-EXODONCIA
							p
								|-ODONTOLOGÍA ESTÉTICA
							p
								|-CLÍNICA PROTÉSTICA II
							p
								|-PROSTODONCIA II
							p
								|-ENDODONCIA II
							p
								|-ODONTOLOGÍA BASADA EN LA EVIDENCIA

						img(src="resources/monitos/9.svg")
					div.dots
						div.dot
						div.dot
				div.second.white
					div.third
						div.bloque
							p.titulo
								|III SEMESTRE
							p
								|-RADIOLOGÍA DENTAL
							p
								|-FISIOLOGÍA DE LA OCLUSIÓN
							p
								|-PROPEDÉUTICA MÉDICA
							p
								|-OPERATORIA DENTAL I
							p
								|-FUNDAMENTOS DE PRÓTESIS FIJA
							p
								|-CARIOLOGÍA
							p
								|-ANESTESIOLOGÍA DENTAL
							p
								|-INFRORMÁTICA

						img(src="resources/monitos/3.svg")

					div.third
						div.bloque
							p.titulo
								|IV SEMESTRE
							p
								|-IMAGENOLOGÍA
							p
								|-OCLUSIÓN
							p
								|-PERIDONCIA I
							p
								|-OPERATORIA DENTAL II
							p
								|-FUNDAMENTOS DE PRÓTESIS REMOVIBLE
							p
								|-FARMACOLOGÍA Y TERAPÉUTICA ODONTOLÓGICA
							p
								|-PATOLOGÍA DE LA CAVIDAD ORAL

						img(src="resources/monitos/5.svg")

					div.third
						div.bloque
							p.titulo
								|VII SEMESTRE
							p
								|-ÉTICA PROFESIONAL
							p
								|-CIRUGÍA BUCAL
							p
								|-ODONTOPEDIATRÍA II
							p
								|-CLÍNICA INTEGRAL I
							p
								|-CLÍNICA DE DIAGNÓSTICO I
							p
								|-ORTODONCIA
							p
								|-MEDICINA BUCAL
							p
								|-ODONTOLOGÍA EN LA COMUNIDAD

						img(src="resources/monitos/11.svg")

					div.third
						div.bloque
							p.titulo
								|VIII SEMESTRE
							p
								|-SEMINARIO DE INVESTIGACIÓN
							p
								|-CIRUGÍA MAXILOFACIAL
							p
								|-ODONTOPEDIATRÍA
							p
								|-CLÍNICA INTEGRAL II
							p
								|-CLÍNICA DE DIAGNÓSTICO II
							p
								|-ORTODONCIA INTERCEPTIVA
							p
								|-ODONTOLOGÍA LEGAL Y FORENSE
							p
								|-ORGANIZACIÓN DE ADMINISTRACIÓN DE CONSILTORIOS

						img(src="resources/monitos/12.svg")
					div.dots
						div.dot.or
						div.dot.or
		footer.first-footer
			div 
				p Contacto
		footer.second-footer
			div.foot
				img(src='resources/nav/culogo.png')
			div.foot2
				div
					p
						|Dirección Av. Dr.Salvador Nava Martínez No 329
					p
						|Col. Viveros. San Luis Potosí, México.
					p
						|C.P. 78290
				div
					p
						|Salida Sin Costo: 01 800 00 UCSLP (82757)
					p
						|Teléfonos: (444) 500.45.00 / (400) 817.65.30
					p
						|WhatsApp: (444) 408.30.27
					p
						|Email: contacto@ucslp.net	
			div.foot3
				a(href="https://www.facebook.com/ucslp/")
				img(src='resources/nav/facebook-pin.png')
			
				a(href="https://twitter.com/CuauhtemocSLP?lang=es")
				img(src='resources/nav/twitter-pin.png')
			
				a(href="https://www.instagram.com/guerreros_ucslp/")
				img(src='resources/nav/instagram-pin.png')
			div.foot4
				div
					p Contacto	




	  
	script
		|	var botonM = false;
		|	$('.burger').click(function(){
		|		if (botonM == false) {
		|			$('.secondNav').animate({
		|				left: '0'
		|			},'slow');
		|			botonM = true;
		|		}else if(botonM == true){
		|			$('.secondNav').animate({
		|				left: '-110%'
		|			},'slow');
		|			botonM = false;
		|		}
		|	});
		| 
		|$(document).ready(function(){
		|  $(window).scroll(function() {
		|    if ($(document).scrollTop() > 5 ) {
		|      $("#firstView").css("z-index", "-1");
		|		$("#secondView").css("z-index", "1");
		|    } else if ($(document).scrollTop() < 5){
		|   
		|    }
		|  });
		|	$('.first-footer').click(function(){
		|		$(".second-footer").css("display", "flex");
		|		$(".first-footer").css("display", "none");
		|	});
		|	$('.second-footer').click(function(){
		|		$(".first-footer").css("display", "flex");
		|		$(".second-footer").css("display", "none");
		|	});
		|});
