doctype html
html
	head
		link(rel="stylesheet" href="css/movilStyles.css")
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,900" rel="stylesheet">
			
	body
		content#secondViewNav
			include headerV2.pug

		content#Odont
			div.first
				div.second#video

				div.second#info
					p 
						|Odontología
					div 
						p 
							|Modalidad: Semestral
						br
						p 
							|Duración: Cuatro años
						br
						p 
							|Totalde créditos: 536
						br
						p 
							|RVOE: 2007450
			div.first
				div.second
					img(src="resources/odontologia/1.jpg")
				div.second
					div.third#green
						div.circle
							img(src="resources/arquitectura/book.png")
						div
							p
								|Descarga el
							p.big
								|Folleto
					div.third#gray
						div.circle
							img(src="resources/arquitectura/money.png")
						div
							p
								|Licenciatura
							p.big
								|Costo
			div.first#last
				div.second.orange
					div.third
						div.bloque
							p.titulo
								|I SEMESTRE
							p
								|-ANATOMÍA HUMANA
							p
								|-HISTOLOGÍA Y EMBRIOLOGÍA
							p
								|-BIOQUÍMICA CLÍNICA
							p
								|-MATERIALES DENTALES I
							p
								|-ANATOMÍA DENTAL
							p
								|-ODONTOLOGÍA PREVENTIVA I
							p
								|-TÉCNICAS DE INVESTIGACIÓN
							p
								|-COMUNICACIÓN ORAL Y ESCRITA

						img(src="resources/monitos/1.svg")

					div.third
						div.bloque
							p.titulo
								|II SEMESTRE
							p
								|-FISIOLOGÍA HUMANA
							p
								|-PATOLOGÍA HUMANA
							p
								|-MICROBIOLOGÍA
							p
								|-MATERIALES DENTALES II
							p
								|-INMUNOLOGÍA
							p
								|-ODONTOLOGÍA PREVENTIVA II
							p
								|-ANATOMÍA TOPOGRÁFICA DE CABEZA Y CUELLO
							p
								|-INTRODUCCIÓN A LA INFORMÁTICA

						img(src="resources/monitos/2.svg")

					div.third
						div.bloque
							p.titulo
								|V SEMESTRE
							p
								|-URGENCIAS MÉDICO-ODONTOLÓGICAS
							p
								|-INTRODUCCIÓN A LOS PROCEDIMIENTOS QUIRÚRGICOS
							p
								|-PERIODONCIA II
							p
								|-OPERATORIA DENTAL III
							p
								|-CLÍNICA PROTÉSTICA I
							p
								|-PROSTODONCIA I
							p
								|-ENDODONCIA I
							p
								|-ODONTOLOGÍA GRIÁTRICA

						img(src="resources/monitos/7.svg")

					div.third
						div.bloque
							p.titulo
								|VI SEMESTRE
							p
								|-SALUD PÚBLICA Y BIOESTADÍSTICA
							p
								|-EXODONCIA
							p
								|-ODONTOLOGÍA ESTÉTICA
							p
								|-CLÍNICA PROTÉSTICA II
							p
								|-PROSTODONCIA II
							p
								|-ENDODONCIA II
							p
								|-ODONTOLOGÍA BASADA EN LA EVIDENCIA

						img(src="resources/monitos/9.svg")
					div.dots
						div.dot
						div.dot
				div.second.white
					div.third
						div.bloque
							p.titulo
								|III SEMESTRE
							p
								|-RADIOLOGÍA DENTAL
							p
								|-FISIOLOGÍA DE LA OCLUSIÓN
							p
								|-PROPEDÉUTICA MÉDICA
							p
								|-OPERATORIA DENTAL I
							p
								|-FUNDAMENTOS DE PRÓTESIS FIJA
							p
								|-CARIOLOGÍA
							p
								|-ANESTESIOLOGÍA DENTAL
							p
								|-INFRORMÁTICA

						img(src="resources/monitos/3.svg")

					div.third
						div.bloque
							p.titulo
								|IV SEMESTRE
							p
								|-IMAGENOLOGÍA
							p
								|-OCLUSIÓN
							p
								|-PERIDONCIA I
							p
								|-OPERATORIA DENTAL II
							p
								|-FUNDAMENTOS DE PRÓTESIS REMOVIBLE
							p
								|-FARMACOLOGÍA Y TERAPÉUTICA ODONTOLÓGICA
							p
								|-PATOLOGÍA DE LA CAVIDAD ORAL

						img(src="resources/monitos/5.svg")

					div.third
						div.bloque
							p.titulo
								|VII SEMESTRE
							p
								|-ÉTICA PROFESIONAL
							p
								|-CIRUGÍA BUCAL
							p
								|-ODONTOPEDIATRÍA II
							p
								|-CLÍNICA INTEGRAL I
							p
								|-CLÍNICA DE DIAGNÓSTICO I
							p
								|-ORTODONCIA
							p
								|-MEDICINA BUCAL
							p
								|-ODONTOLOGÍA EN LA COMUNIDAD

						img(src="resources/monitos/11.svg")

					div.third
						div.bloque
							p.titulo
								|VIII SEMESTRE
							p
								|-SEMINARIO DE INVESTIGACIÓN
							p
								|-CIRUGÍA MAXILOFACIAL
							p
								|-ODONTOPEDIATRÍA
							p
								|-CLÍNICA INTEGRAL II
							p
								|-CLÍNICA DE DIAGNÓSTICO II
							p
								|-ORTODONCIA INTERCEPTIVA
							p
								|-ODONTOLOGÍA LEGAL Y FORENSE
							p
								|-ORGANIZACIÓN DE ADMINISTRACIÓN DE CONSILTORIOS

						img(src="resources/monitos/12.svg")
					div.dots
						div.dot.or
						div.dot.or
		include footer.pug
