doctype html
html
	head
		link(rel="stylesheet" href="resources/style.css")
		link(rel="stylesheet" href="css/movilStyles.css")
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,900" rel="stylesheet">
			
	body
		nav.firstNav
			div.nav-left
				div.burger
				img(src='resources/nav/culogo.png').logo
			div.nav-right
				div.green-button
					div
						a(href='')|¡REGISTRATE!
		#n
			nav.secondNav
				div
					ul
						li
							a(href="#")|Nosotros
								ul.children
									li
										a(href="nosotros-movil.html#mision")|Misión, Visión, Valores
									li
										a(href="nosotros-movil.html#filosofia")|Filosofía
									li
										a(href="nosotros-movil.html#directorio")|Directorio
						li
							a(href="#")|Oferta Académica
							ul.children
								li
									a(href="prepaUC-movil.html")|Prepa UC
								li
									a(href="#")|Licenciaturas +
								li
									a(href="#")|Maestrías y Posgrados
						li
							a(href="#")|Intégrate
							ul.children
								li
									a(href="#")|Ingreso a Licenciatura
								li
									a(href="#")|Ingreso a Bachillerato
								li
									a(href="#")|Provenientes de Otras Univesrdiades
								li
									a(href="#")|Ingreso a Licenciatura para Alumnos Extranjeros	
						li
							a(href="#")|Prestigio UC
							ul.children
								li
									a(href="https://www.ucslp.edu.mx/prestigio/prestigioAlumnos")|Alumnos
								li
									a(href="https://www.ucslp.edu.mx/prestigio/prestigioProfesores")|Docentes
								li
									a(href="https://www.ucslp.edu.mx/prestigio/prestigioExAlumnos")|Ex Alumnos
						li
							a(href="https://www.ucslp.edu.mx/beneficios")|Beneficios UC
						li
							a(href="https://www.ucslp.edu.mx/internacional")|Internacional
							ul.children
								li
									a(href="#")|Intercambio Estudiantil
								li
									a(href="#")|Estudiantes Visitantes
								li
									a(href="#")|Profesores Visitantes
						li
							a(href="#").final|Visitanos					

		
		#UC
			div.one
			div#proceso.display
				div#uno
			div#quien.display
				div#dos
			div#costos.display
			div#plan.display
				div#primer
					div
						h2|I SEMESTRE
						p|-Matemáticas I
						p|-Química I
						p|-Ética y Valores I
						p|-Introducción a las
						| ciencias sociales
						p|-Taller de Lectura y Redacción I
						p|-Lengua Adicional al Español I
						p|-Informática I
						br
						h2|II SEMESTRE
						p|-Matemáticas II
						p|-Química II
						p|-Ética y Valores II
						p|-Historia de México
						p|-Taller de Lectura y Redacción II
						p|-Lengua Adicional al Español II
						p|-Informática II

				div#tercer
					div
						h2|III SEMESTRE
						p|-Matemáticas III
						p|-Geografía
						p|-Física I
						p|-Historia de México II
						p|-Literatura I
						p|-Lengua Adicional al Español III
						p|-Informática III
						br
						h2|IV SEMESTRE
						p|-Matemáticas IV
						p|-Biología I
						p|-Física II
						p|-Estructura Socioeconómica
						| de México
						p|-Literatura II
						p|-Lengua Adicional al Español IV
						p|-Informática IV
				div#quinto
					div
						h2|III SEMESTRE
						p|-Matemáticas III
						p|-Geografía
						p|-Física I
						p|-Historia de México II
						p|-Literatura I
						p|-Lengua Adicional al Español III
						p|-Informática III
						br
						h2|IV SEMESTRE
						p|-Matemáticas IV
						p|-Biología I
						p|-Física II
						p|-Estructura Socioeconómica
						| de México
						p|-Lengua Adicional al Español IV
						p|-Informática IV		
			div#talleres.display
				div#deportivos
					h2|Deportivos
					p|Basketball
					p|Football
					p|Volleyball
					p|Atletismo
				div#culturales
					h2|Culturales
					p|Cocina
					p|Música
					p|Baile moderno
					p|Cartonaje
					p|Pintura
		
		div#logoprepUC
			a(href="#logoprepUCmenu")
				img(src='resources/PrepaCu.png')
				
		div#logoprepUCmenu.display
			a(href="#quien")|¿Quiénes somos?
			a(href="#proceso")|Proceso de Ingreso
			a(href="#costos")|Costos Prepa UC
			a(href="#plan")|Plan de Estudios
			a(href="#talleres")|Talleres

		include footer.pug