doctype html
html
	head
		link(rel="stylesheet" href="resources/style.css")
		link(rel="stylesheet" href="css/movilStyles.css")
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,900" rel="stylesheet">
			
	body
		nav.firstNav
			div.nav-left
				div.burger
				img(src='resources/nav/culogo.png').logo
			div.nav-right
				div.green-button
					div
						a(href='')|¡REGISTRATE!
				div.nav-social
					a(href="https://www.facebook.com/ucslp/")
						img(src='resources/nav/facebook-pin.png')
					a(href="https://twitter.com/CuauhtemocSLP?lang=es")
						img(src='resources/nav/twitter-pin.png')
					a(href="https://www.instagram.com/guerreros_ucslp/")
						img(src='resources/nav/instagram-pin.png')
					a(href="https://www.youtube.com/user/UCUAUHTEMOCSLP")
						img(src='resources/nav/youtube-pin.png')
					a(href="http://servicios.ucslp.edu.mx/")
						img(src='resources/nav/uc-pin.png')
					a(href="https://www.ucslp.edu.mx/descargas/calendario/ucslp_calendario.pdf")
						img(src='resources/nav/calendar-pin.png')
		nav.secondNav
			div
				ul
					li
						a(href="#")|Nosotros
							ul.children
								li
									a(href="nosotros-movil.html#mision")|Misión, Visión, Valores
								li
									a(href="nosotros-movil.html#filosofia")|Filosofía
								li
									a(href="nosotros-movil.html#directorio")|Directorio
					li
						a(href="#")|Oferta Académica
						ul.children
							li
								a(href="prepaUC-movil.html")|Prepa UC
							li
								a(href="#")|Licenciaturas +
							li
								a(href="#")|Maestrías y Posgrados
					li
						a(href="#")|Intégrate
						ul.children
							li
								a(href="#")|Ingreso a Licenciatura
							li
								a(href="#")|Ingreso a Bachillerato
							li
								a(href="#")|Provenientes de Otras Univesrdiades
							li
								a(href="#")|Ingreso a Licenciatura para Alumnos Extranjeros	
					li
						a(href="#")|Prestigio UC
						ul.children
							li
								a(href="https://www.ucslp.edu.mx/prestigio/prestigioAlumnos")|Alumnos
							li
								a(href="https://www.ucslp.edu.mx/prestigio/prestigioProfesores")|Docentes
							li
								a(href="https://www.ucslp.edu.mx/prestigio/prestigioExAlumnos")|Ex Alumnos
					li
						a(href="https://www.ucslp.edu.mx/beneficios")|Beneficios UC
					li
						a(href="https://www.ucslp.edu.mx/internacional")|Internacional
						ul.children
							li
								a(href="#")|Intercambio Estudiantil
							li
								a(href="#")|Estudiantes Visitantes
							li
								a(href="#")|Profesores Visitantes
					li
						a(href="#").final|Visitanos					

		
		#UC
			div.one
			div#proceso.display
			div#costos.display
			div#plan.display
				div#primer
					div
						h2|I SEMESTRE
						p|-Matemáticas I
						p|-Química I
						p|-Ética y Valores I
						p|-Introducción a las
						| ciencias sociales
						p|-Taller de Lectura y Redacción I
						p|-Lengua Adicional al Español I
						p|-Informática I
						br
						h2|II SEMESTRE
						p|-Matemáticas II
						p|-Química II
						p|-Ética y Valores II
						p|-Historia de México
						p|-Taller de Lectura y Redacción II
						p|-Lengua Adicional al Español II
						p|-Informática II

				div#tercer
					div
						h2|III SEMESTRE
						p|-Matemáticas III
						p|-Geografía
						p|-Física I
						p|-Historia de México II
						p|-Literatura I
						p|-Lengua Adicional al Español III
						p|-Informática III
						br
						h2|IV SEMESTRE
						p|-Matemáticas IV
						p|-Biología I
						p|-Física II
						p|-Estructura Socioeconómica
						| de México
						p|-Literatura II
						p|-Lengua Adicional al Español IV
						p|-Informática IV
			div#talleres.display
				div#deportivos
					h2|Deportivos
					p|Basketball
					p|Football
					p|Volleyball
					p|Atletismo
				div#culturales
					h2|Culturales
					p|Cocina
					p|Música
					p|Baile moderno
					p|Cartonaje
					p|Pintura
		
		div#logoprepUC
			a(href="#logoprepUCmenu")
				img(src='resources/PrepaCu.png')
				
		div#logoprepUCmenu.display
			a(href="#proceso")|Proceso de Ingreso
			a(href="#costos")|Costos Prepa UC
			a(href="#plan")|Plan de Estudios
			a(href="#talleres")|Talleres

		footer.first-footer
			div 
				p Contacto
		footer.second-footer
			div.foot
				img(src='resources/nav/culogo.png')
			div.foot2
				div
					p
						|Dirección Av. Dr.Salvador Nava Martínez No 329
					p
						|Col. Viveros. San Luis Potosí, México.
					p
						|C.P. 78290
				div
					p
						|Salida Sin Costo: 01 800 00 UCSLP (82757)
					p
						|Teléfonos: (444) 500.45.00 / (400) 817.65.30
					p
						|WhatsApp: (444) 408.30.27
					p
						|Email: contacto@ucslp.net	
			div.foot3
				a(href="https://www.facebook.com/ucslp/")
				img(src='resources/nav/facebook-pin.png')
			
				a(href="https://twitter.com/CuauhtemocSLP?lang=es")
				img(src='resources/nav/twitter-pin.png')
			
				a(href="https://www.instagram.com/guerreros_ucslp/")
				img(src='resources/nav/instagram-pin.png')
			div.foot4
				div
					p Contacto	




	  
	script
		|	var botonM = false;
		|	$('.burger').click(function(){
		|		if (botonM == false) {
		|			$('.secondNav').animate({
		|				left: '0'
		|			},'slow');
		|			botonM = true;
		|		}else if(botonM == true){
		|			$('.secondNav').animate({
		|				left: '-110%'
		|			},'slow');
		|			botonM = false;
		|		}
		|	});
		| 
		|$(document).ready(function(){
		|  $(window).scroll(function() {
		|    if ($(document).scrollTop() > 5 ) {
		|      $("#firstView").css("z-index", "-1");
		|		$("#secondView").css("z-index", "1");
		|    } else if ($(document).scrollTop() < 5){
		|      $("#secondView").css("z-index", "-1");
		|      $("#firstView").css("z-index", "2");
		|    }
		|  });
		|	$('.first-footer').click(function(){
		|		$(".second-footer").css("display", "flex");
		|		$(".first-footer").css("display", "none");
		|	});
		|	$('.second-footer').click(function(){
		|		$(".first-footer").css("display", "flex");
		|		$(".second-footer").css("display", "none");
		|	});
		|	$('#logoprepUC').click(function(){
		|		$("#logoprepUCmenu").css("display", "flex");
		|	});
		|	$('#UC').click(function(){
		|		$("#logoprepUCmenu").css("display", "none");
		|	});
		|});					